<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWPromoActions>
			<version>1.1.1</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>adminhtml/ewpromoactions_config/index</configure_url>
            </extendware>
		</Extendware_EWPromoActions>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<extendware_ewpromoactions after="Mage_Adminhtml">Extendware_EWPromoActions</extendware_ewpromoactions>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWPromoActions>
					<files>
						<default>extendware/Extendware_EWPromoActions.csv</default>
					</files>
				</Extendware_EWPromoActions>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpromoactions>
					<file>extendware/ewpromoactions.xml</file>
				</ewpromoactions>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWPromoActions>
					<files>
						<default>extendware/Extendware_EWPromoActions.csv</default>
					</files>
				</Extendware_EWPromoActions>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewpromoactions>
					<file>extendware/ewpromoactions.xml</file>
				</ewpromoactions>
			</updates>
		</layout>
		<routers>
			<ewpromoactions>
				<use>standard</use>
				<args>
					<module>Extendware_EWPromoActions</module>
					<frontName>ewpromoactions</frontName>
				</args>
			</ewpromoactions>
        </routers>
    </frontend>
	<global>
		<models>
			<ewpromoactions>
				<class>Extendware_EWPromoActions_Model</class>
				<resourceModel>ewpromoactions_resource</resourceModel>
			</ewpromoactions>
			<ewpromoactions_resource>
                <class>Extendware_EWPromoActions_Model_Resource</class>
                <entities/>
            </ewpromoactions_resource>
		</models>
		<blocks>
			<ewpromoactions>
                <class>Extendware_EWPromoActions_Block</class>
            </ewpromoactions>
		</blocks>
		<helpers>
			<ewpromoactions>
				<class>Extendware_EWPromoActions_Helper</class>
			</ewpromoactions>
		</helpers>
		<resources>
			<ewpromoactions_setup>
				<setup>
					<module>Extendware_EWPromoActions</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewpromoactions_setup>
			<ewpromoactions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewpromoactions_write>
            <ewpromoactions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewpromoactions_read>
		</resources>
		<events>
			<salesrule_validator_process>
				<observers>
					<ewpromoactions_salesruleValidatorProcess>
						<type>singleton</type>
						<class>ewpromoactions/observer_general</class>
						<method>salesruleValidatorProcess</method>
					</ewpromoactions_salesruleValidatorProcess>
				</observers>
			</salesrule_validator_process>
			<adminhtml_block_salesrule_actions_prepareform>
				<observers>
					<ewpromoactions_adminhtmlBlockSalesruleActionsPrepareform>
						<type>singleton</type>
						<class>ewpromoactions/observer_general</class>
						<method>adminhtmlBlockSalesruleActionsPrepareform</method>
					</ewpromoactions_adminhtmlBlockSalesruleActionsPrepareform>
				</observers>
			</adminhtml_block_salesrule_actions_prepareform>
		</events>
		<template></template>
	</global>
	<input></input>
	<crontab></crontab>
	<extendware>
		<override>
			<model>
				<mage_salesrule_rule_validator_ewpromoactionsoverride>
           			<mode>extendware</mode>
           			<search><class>Mage_SalesRule_Model_Validator</class></search>
           			<replace>
           				<class>Extendware_EWPromoActions_Model_Override_Mage_SalesRule_Validator</class>
            			<order>0</order>
           			</replace>
           		</mage_salesrule_rule_validator_ewpromoactionsoverride>
           		<mage_salesrule_rule_condition_product_ewpromoactionsoverride>
           			<mode>extendware</mode>
           			<search><class>Mage_SalesRule_Model_Rule_Condition_Product</class></search>
           			<replace>
           				<class>Extendware_EWPromoActions_Model_Override_Mage_SalesRule_Rule_Condition_Product</class>
            			<order>0</order>
           			</replace>
           		</mage_salesrule_rule_condition_product_ewpromoactionsoverride>
           	</model>
           	<block>
				<mage_adminhtml_promo_quote_edit_tab_actions_ewpromoactionsoverride>
           			<mode>extendware</mode>
           			<search><class>Mage_Adminhtml_Block_Promo_Quote_Edit_Tab_Actions</class></search>
           			<replace>
           				<class>Extendware_EWPromoActions_Block_Override_Mage_Adminhtml_Promo_Quote_Edit_Tab_Actions</class>
            			<order>0</order>
           			</replace>
           		</mage_adminhtml_promo_quote_edit_tab_actions_ewpromoactionsoverride>
           		<mage_adminhtml_promo_quote_ewmpromorules_override>
           			<mode>extendware</mode>
					<search><class>Mage_Adminhtml_Block_Promo_Quote_Grid</class></search>
					<replace>
						<class>Extendware_EWPromoActions_Block_Override_Mage_Adminhtml_Promo_Quote_Grid</class>
						<order>100</order>
					</replace>
				</mage_adminhtml_promo_quote_ewmpromorules_override>
           	</block>
		</override>
	</extendware>
</config>