<?xml version="1.0"?>
<config>
  <modules>
    <ApdInteract_Breadcrumbs>
      <version>0.1.0</version>
    </ApdInteract_Breadcrumbs>
  </modules> 
  <global>
        <blocks>
            <page>
                <rewrite>
                    <html_breadcrumbs>ApdInteract_Breadcrumbs_Block_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
        </blocks>
    </global>
</config> 