<section class="flash-bar">
    <div class="flash sticky" data-flash-bar>
        <div class="flex">
            <p>4 quality tyres fitted from $399.<br class="mobile"/> Hurry, offer ends <span>24 June 2017.</span> <a href="#" class="button" data-get-instant-quote-btn>Get Quote</a></p>
        </div>
    </div>
</section>

<header>
    <div class="row">
        <div class="column container">
            <h1 class="title">
                <a href="https://www.beaurepaires.com.au/" class="logo">
                    <img src="../assets/images/campaign/bearepaires.png" alt="Beaurepaires Logo">
                </a>
            </h1>

            <a href="tel: 1800 316 398" class="tel"><i class="fa fa-phone"></i> 1800 316 398</a>
        </div>
    </div>
</header>
