<div class="extra-padding main-wrapper">
    <div class="main-container show-page-notice">
        <div class="row">
            <div class="col-left sidebar large-3 small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="my-account block">
                            <div class="block-title">
                                <h4 class="db-nav-title">My Account</h4>
                            </div>
                            <ul class="no-bullet side-nav">
                                <li>
                                    <a href="#">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#">Account Details</a>
                                </li>
                                <li>
                                    <a href="#">Contact Details</a>
                                </li>
                                <li>
                                    <a href="#">Vehicle Details</a>
                                </li>
                                <li>
                                    <a href="#">Communications</a>
                                </li>
                                <li class="current">
                                    <strong>Orders</strong>
                                </li>
                                <li>
                                    <a href="#">Product Reviews</a>
                                </li>
                                <li class="last">
                                    <a href="#">Mobility Data</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-main last large-9 small-12 columns">
                <div class="my-account">
                    <div class="page-title title-buttons">
                        <h4 class="db-nav-title">Order #0000</h4>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <table class="round table-order">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Size</th>
                                        <th>Price</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>GOODYEAR EAGLE F1 ASYMMETRIC 2</strong></td>
                                        <td><strong>2</strong></td>
                                        <td>255/35/R19</td>
                                        <td><strong>$289.00/tyre</strong></td>
                                        <td><strong>$578.00</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>GOODYEAR EAGLE F1 ASYMMETRIC 2</strong></td>
                                        <td><strong>2</strong></td>
                                        <td>255/35/R19</td>
                                        <td><strong>$289.00/tyre</strong></td>
                                        <td><strong>$578.00</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            <div class="panel bg-white round panel-height-200">
                                <p>
                                    <i class="fa fa-calendar color-secondary"></i> <strong>Fitting Details</strong>
                                </p>
                                <p>
                                    <strong>Monday 24 September, 12:30 pm</strong>
                                </p>
                                <p>
                                    <strong>Beaurepaires South Melbourne</strong><br/>
                                    <span>
                                        162 Coventry St (Cnr Kings Way)<br/>
                                        SOUTH MELBOURNE VIC 3250
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="panel bg-white round panel-height-200">
                                <table class="table-invisible">
                                    <tr>
                                        <td>Subtotal (incl. GST)</td>
                                        <td class="text-right">
                                            <strong>$999.00</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <td class="text-right">
                                            <strong>$99.93</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Promo Code (SKV124)</td>
                                        <td class="text-right">
                                            <strong>-$26.78</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shipping</td>
                                        <td class="text-right">
                                            <strong>Included</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Grand Total</strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>$1,241.00</strong>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="panel panel-secondary round bg-white">
                                <div class="row">
                                    <div class="small-6 columns">
                                        <span>
                                            Paid on: <strong>21 September 2017</strong><br/>
                                        </span>
                                        <span>
                                            Using: <strong>PayPal and Credit Card (Visa, Mastercard)</strong>
                                        </span>
                                    </div>
                                    <div class="small-6 columns text-right">
                                        <h3 class="color-secondary">Thank You</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-6 columns">
                            <button class="flat-button white round">
                                <i class="fa fa-chevron-left flat-button-icon"></i>
                                See All Orders
                            </button>
                        </div>
                        <div class="small-6 columns text-right">
                            <button class="flat-button secondary round">
                                Print Tax Invoice
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>