<?xml version="1.0"?>
<config>
  <modules>
    <ApdInteract_Recent>
      <version>1.0.0</version>
    </ApdInteract_Recent>
  </modules>
  <frontend>
    <layout>
        <updates>
            <recent>
                <file>recent.xml</file>
            </recent>
        </updates>
    </layout>
  </frontend>
  <global>
    <models>
      <subscribe>
        <class>ApdInteract_Recent_Model</class>
      </subscribe>
    </models>
    <blocks>
     <recent>
        <class>ApdInteract_Recent_Block</class>
     </recent>
    </blocks>
    <events>
		<catalog_controller_product_init_after>
			<observers>
				<apdinteract_recent_catalog_controller_product_init_after>
					<type>model</type>
					<class>ApdInteract_Recent_Model_Observer</class>
					<method>saveProductVisitHistory</method>
				</apdinteract_recent_catalog_controller_product_init_after>				
			</observers>
		</catalog_controller_product_init_after>
	</events>
  </global>
</config> 