<?xml version="1.0"?>
<config>
    <modules>
        <Alinga_Recentordernotification>
            <version>1.0.0</version>
        </Alinga_Recentordernotification>
    </modules>
	
    <admin>
        <routers>
            <recentordernotification_admin>
                <use>admin</use>
                <args>
                    <module>Alinga_Recentordernotification</module>
                    <frontName>admin_recentordernotification</frontName>
                </args>
            </recentordernotification_admin>
        </routers>
    </admin>
    <global>
        <helpers>
            <recentordernotification>
                <class>Alinga_Recentordernotification_Helper</class>
            </recentordernotification>
        </helpers>
        <blocks>
            <recentordernotification>
                <class>Alinga_Recentordernotification_Block</class>
            </recentordernotification>
        </blocks>
        <models>
            <recentordernotification>
                <class>Alinga_Recentordernotification_Model</class>
            </recentordernotification>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <recentordernotification module="Alinga_Recentordernotification">
                    <file>alinga_recentordernotification.xml</file>
                </recentordernotification>
            </updates>
        </layout>
		<routers>
            <recentordernotification>
                <use>standard</use>
                <args>
                    <module>Alinga_Recentordernotification</module>
                    <frontName>recentordernotify</frontName>
                </args>
            </recentordernotification>
        </routers>
    </frontend>

    <default>
        <recentordernotification>
            <settings>
                <enable>0</enable>
				<enable_mobile>0</enable_mobile>
				<include_virtual_product>1</include_virtual_product>
				<notification_position>bl</notification_position>
				<notificaion_msg_template><![CDATA[Someone in [city],[region], [country]  bought[product_link] </br> [item_price] [ordered_time] ]]></notificaion_msg_template>
				<jquery>0</jquery>
                <noconflict>0</noconflict>				
                <on_first_page_load>6000</on_first_page_load>
                <reappear_after_close>1440</reappear_after_close>
                <select_order_status>any_order</select_order_status>
            </settings>
			<set_colors>
				<background_colour>#333333</background_colour>
				<border_colour>#ff0000</border_colour>
				<text_colour>#ffffff</text_colour>
				<link_colour>#999999</link_colour>
				<link_hover_colour>#d3d3d3</link_hover_colour>
			</set_colors>
        </recentordernotification>
    </default>
</config>