<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_ReminderEmail>
            <version>1.0.0</version>
        </ApdInteract_ReminderEmail>
    </modules>
    <global>
        <helpers>
            <apdinteract_reminderemail>
                <class>ApdInteract_ReminderEmail_Helper</class>
            </apdinteract_reminderemail>
        </helpers>
        <models>
            <apdinteract_reminderemail>
                <class>ApdInteract_ReminderEmail_Model</class>
            </apdinteract_reminderemail>
        </models>
        <resources>
            <apdinteract_reminderemail_setup>
                <setup>
                    <module>ApdInteract_ReminderEmail</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_reminderemail_setup>
        </resources>
    </global>
    <default>
        <vir>
            <pre_booking>
                <enabled>0</enabled>
            </pre_booking>
            <next_service>
                <enabled>0</enabled>
                <reminder_notice_period>6</reminder_notice_period>
            </next_service>
        </vir>
    </default>
    <crontab>
        <jobs>
            <your_next_service_cron>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr> <!-- execute cron 01:00 AM everyday -->
                </schedule>
                <run>
                    <model>apdinteract_reminderemail/observer::sendYourNextServiceEmail</model>
                </run>
            </your_next_service_cron>
        </jobs>
    </crontab>
</config>