<?xml version="1.0"?>
<config>
  <modules>
    <ApdInteract_Vehicle>
      <version>1.0.6</version>
    </ApdInteract_Vehicle>
  </modules>
  <global>
      <models>
          <apdinteract_vehicle>
              <class>ApdInteract_Vehicle_Model</class>
              <resourceModel>apdinteract_vehicle_resource</resourceModel>
          </apdinteract_vehicle>
          <apdinteract_vehicle_resource>
              <class>ApdInteract_Vehicle_Model_Resource</class>
              <entities>
                  <vehicle>
                      <table>customer_vehicle</table>
                  </vehicle>
              </entities>
          </apdinteract_vehicle_resource>
      </models>
      <resources>
          <apdinteract_vehicle_setup>
              <setup>
                  <module>ApdInteract_Vehicle</module>
                  <class>Mage_Core_Model_Resource_Setup</class>
              </setup>
              <connection>
                  <use>core_setup</use>
              </connection>
          </apdinteract_vehicle_setup>
      </resources>
      <helpers>
          <apdinteract_vehicle>
              <class>ApdInteract_Vehicle_Helper</class>
          </apdinteract_vehicle>
      </helpers>
  </global>
</config> 