<?xml version="1.0"?>
<config>
  <modules>
    <ApdInteract_Addimage>
      <version>1.0.0</version>
    </ApdInteract_Addimage>
  </modules>
  <global>
    <models>
      <addimage>
        <class>ApdInteract_Addimage_Model</class>
      </addimage>
    </models>
    <events>
      <catalog_product_save_after> <!-- identifier of the event we want to catch -->
        <observers>
          <apdinteract_catalog_product_save_after> <!-- identifier of the event handler -->
            <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
            <class>addimage/observer</class> <!-- observers class alias -->
            <method>Addimage</method>  <!-- observer's method to be called -->
          </apdinteract_catalog_product_save_after>
        </observers>
      </catalog_product_save_after>
    </events>
  </global>
</config> 