<section class="process">
    <div class="row">
        <div class="columns">
            <h2>HOW IT WORKS</h2>

            <div class="process-container">
                <ul>
                  <li>
                      <div class=circle-container>
                          <div class=circle-padding>
                              <div class=circle>
                                  <span class="icon icon-blue-phone"></span>
                              </div>
                          </div>
                      </div>
                      <article>
                          <h3>Contact Us</h3>
                          <p>Call us on <a href="tel: 1800 316 398">1800 316 398</a> or complete the form to speak with one of our friendly experts. We will identify the best tyres for your vehicle, book in your tyre fitting, and guide you to your nearest Beaurepaires store.</p>
                      </article>
                  </li>
                  <li>
                      <div class=circle-container>
                          <div class=circle-padding>
                              <div class=circle>
                                  <span class="icon icon-blue-store-locator"></span>
                              </div>
                          </div>
                      </div>
                      <article>
                          <h3>Visit Nearest Store</h3>
                          <p>With over 230+ stores nationally, your nearest Beaurepaires store is just around the corner. Our in-store experts pride themselves on delivering the best advice and superior service. <a href="https://www.beaurepaires.com.au/store-locator/">Click here</a> to find your nearest store.</p>
                      </article>
                  </li>
                  <li>
                      <div class=circle-container>
                          <div class=circle-padding>
                              <div class=circle>
                                  <span class="icon icon-blue-clock"></span>
                              </div>
                          </div>
                      </div>
                      <article>
                          <h3>60 minute TYRE Fit GUArantee</h3>
                          <p>Sit back and relax with a coffee in our Customer Lounge while our experts install your new tyres in under 60 minutes guaranteed! And that’s how it works!</p>
                      </article>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-link mobile">
        <a class="button large" data-get-instant-quote-btn>Get Instant Quote</a>
    </div>
</section>
