<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <ApdInteract_Hierarchy>
      <version>0.1.0</version>
    </ApdInteract_Hierarchy>
  </modules>
  <global>
    <helpers>
      <apdinteract_hierarchy>
        <class>ApdInteract_Hierarchy_Helper</class>
      </apdinteract_hierarchy>
    </helpers>
  </global>
  <default>
    <commercial>
      <heavycommercial>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </heavycommercial>
      <industrial>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </industrial>
      <lighttruckregionalhaul>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </lighttruckregionalhaul>
      <lighttrucktyre>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </lighttrucktyre>
      <retreadlighttrucktyre>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </retreadlighttrucktyre>
      <retreadtrucktyre>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </retreadtrucktyre>
      <tractoragricultural>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </tractoragricultural>
      <truckcityservice>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </truckcityservice>
      <trucklinehaul>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>30</slow_wear>
      </trucklinehaul>
      <truckmixedservice>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </truckmixedservice>
      <truckregionalhaul>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>31</slow_wear>
      </truckregionalhaul>
      <truckretreadcityservice>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </truckretreadcityservice>
      <truckretreadlinehaul>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </truckretreadlinehaul>
      <truckretreadmixedservice>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </truckretreadmixedservice>
      <truckretreadregionalhaul>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </truckretreadregionalhaul>
      <trucktyre>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </trucktyre>
      <truckretread>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </truckretread>
      <lighttruckretread>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </lighttruckretread>
    </commercial>
    <consumer>
      <passengercar>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </passengercar>
      <sportsperformance>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </sportsperformance>
      <fourxfoursuvhighway>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </fourxfoursuvhighway>
      <fourxfoursuvallterrain>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </fourxfoursuvallterrain>
      <fourxfoursuvoffroad>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </fourxfoursuvoffroad>
      <missingapplication>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </missingapplication>
      <fourxfour>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </fourxfour>
      <fourxfoursuv>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </fourxfoursuv>
      <car>
        <durability>1</durability>
        <even_ware>2</even_ware>
        <fuel_saver>3</fuel_saver>
        <superior_braking_grip>4</superior_braking_grip>
        <handling>5</handling>
        <mileage>6</mileage>
        <sports_performance_handling>7</sports_performance_handling>
        <fuel_economy>7</fuel_economy>
        <grip_performance>8</grip_performance>
        <handling_performance>9</handling_performance>
        <off_road_performance>10</off_road_performance>
        <wet_performance>11</wet_performance>
        <low_noise>12</low_noise>
        <comfort_performance>13</comfort_performance>
        <sports_performance>14</sports_performance>
        <braking_performance>15</braking_performance>
        <value>16</value>
        <even_wear>17</even_wear>
        <dry_performance>18</dry_performance>
        <wet_dry_performance>19</wet_dry_performance>
        <all_terrain>20</all_terrain>
        <winter>21</winter>
        <original_equipment>22</original_equipment>
        <run_on_flat>23</run_on_flat>
        <traction>24</traction>
        <cornering_performance>25</cornering_performance>
        <road_hazard_resistant>26</road_hazard_resistant>
        <slow_wear>27</slow_wear>
      </car>
    </consumer>
  </default>
</config>