<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ApdInteract_Catalog>
            <version>0.7.5</version>
        </ApdInteract_Catalog>
    </modules>
    <global>
        
        <models>
            <apdinteract_catalog>
                <class>ApdInteract_Catalog_Model</class>
            </apdinteract_catalog>
        </models>
        
        <helpers>
            <apdinteract_catalog>
                <class>ApdInteract_Catalog_Helper</class>
            </apdinteract_catalog>
        </helpers>
        
        <blocks>
            <apdinteract_catalog>
                <class>ApdInteract_Catalog_Block</class>
            </apdinteract_catalog>
            <catalog>
                <rewrite>
                    <breadcrumbs>ApdInteract_Catalog_Block_Breadcrumbs</breadcrumbs> 
                    <product_view>ApdInteract_Catalog_Block_Product_View</product_view>
                    <product_view_type_configurable>ApdInteract_Catalog_Block_Product_View_Type_Configurable</product_view_type_configurable>
                    <layer_filter_attribute>ApdInteract_Catalog_Block_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
        </blocks>
        
        <events>
            <catalog_product_save_before>
                <observers>
                    <apdinteract_catalog_seofriendlyurls>
                        <type>singleton</type>
                        <class>apdinteract_catalog/observer</class>
                        <method>makeSeoFriendlyProductUrlKey</method>
                    </apdinteract_catalog_seofriendlyurls>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <apdinteract_catalog_saveproductUpdate>
                        <type>singleton</type>
                        <class>apdinteract_catalog/observer</class>
                        <method>updateFilter</method>
                    </apdinteract_catalog_saveproductUpdate>
                </observers>
            </catalog_product_save_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <apdinteract_controller_action_layout_generate_blocks_after>
                        <type>singleton</type>
                        <class>apdinteract_catalog/observer</class>
                        <method>changeTemplateIfWheels</method>
                    </apdinteract_controller_action_layout_generate_blocks_after>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <catalog_product_delete_before>
                <observers>
                    <apdinteract_catalog_product_delete_before>
                        <type>singleton</type>
                        <class>apdinteract_catalog/observer</class>
                        <method>deleteToSF</method>
                    </apdinteract_catalog_product_delete_before>
                </observers>
            </catalog_product_delete_before>
            <catalog_controller_category_init_after>
                <observers>
                    <catalog_controller_category_init_after_handle>
                        <type>singleton</type>
                        <class>apdinteract_catalog/observer</class>
                        <method>categoryPromoBanner</method>
                    </catalog_controller_category_init_after_handle>
                </observers>
            </catalog_controller_category_init_after>
            <catalog_controller_category_init_after>
                <observers>
                    <catalog_controller_category_init_after_handle_category>
                        <type>singleton</type>
                        <class>apdinteract_catalog/observer</class>
                        <method>ChangeCategoryView</method>
                    </catalog_controller_category_init_after_handle_category>
                </observers>
            </catalog_controller_category_init_after>
        </events>

        <resources>
            <apdinteract_catalog_setup>
                <setup>
                    <module>ApdInteract_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_catalog_setup>
        </resources>
        
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <apdinteract_catalog before="Mage_Catalog">ApdInteract_Catalog</apdinteract_catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
        <layout>
            <updates>
                <apdinteract_catalog>
                    <file>apdinteract_catalog.xml</file>
                </apdinteract_catalog>
            </updates>
        </layout>   
    </frontend>
</config>