<section class="features">
  <div class="row">
    <div class="columns large-3 medium-6 small-12">
      <div class="feature">
          <span class="icon icon-60-min"></span>
          <p class="label-text">60 minute tyre fit guarantee</p>
      </div>
    </div>
    <div class="columns large-3 medium-6 small-12">
      <div class="feature">
          <span class="icon icon-map"></span>
          <p class="label-text">Over 230+ stores Australia wide</p>
      </div>
    </div>
    <div class="columns large-3 medium-6 small-12">
      <div class="feature">
          <span class="icon icon-tyre"></span>
          <p class="label-text">Top quality brands</p>
      </div>
    </div>
    <div class="columns large-3 medium-6 small-12">
      <div class="feature">
          <span class="icon icon-tyre-crown"></span>
          <p class="label-text">Premium tyres for luxury vehicles</p>
      </div>
    </div>
  </div>
</section>
