<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_SearchTyre>
            <version>0.1.0</version>
        </ApdInteract_SearchTyre>
    </modules>
    <frontend>
        <routers>
            <searchtyre>
                <use>standard</use>
                <args>
                    <module>ApdInteract_SearchTyre</module>
                    <frontName>searchtyre</frontName>
                </args>
            </searchtyre>
        </routers>
        <layout>
            <updates>
                <searchtyre>
                    <file>searchtyre.xml</file>
                </searchtyre>
            </updates>
        </layout>
        <events>           
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <ajaxcart>
                        <type>singleton</type>
                        <class>searchtyre/observer</class>
                        <method>checkIfValid</method>
                    </ajaxcart>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </frontend>
    <global>
        <helpers>
            <searchtyre>
                <class>ApdInteract_SearchTyre_Helper</class>
            </searchtyre>
        </helpers>
        <blocks>
            <searchtyre>
                <class>ApdInteract_SearchTyre_Block</class>
            </searchtyre>
        </blocks>	
        <models>
            <searchtyre>
                <class>ApdInteract_SearchTyre_Model</class>
            </searchtyre>
        </models>
    </global>
    <crontab>
        <jobs>
            <apdinteract_searchtyre_api_monitoring>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>searchtyre/observer::pingVehicleLogicApi</model>
                    <duration>EveryOneMinutes</duration>
                </run>
            </apdinteract_searchtyre_api_monitoring>
        </jobs>
    </crontab>
	
</config> 