<?xml version="1.0" encoding="UTF-8"?>
<config>
   <modules>
      <ApdInteract_Sales>
         <version>1.0.0</version>
      </ApdInteract_Sales>
   </modules>
   <global>
       <fieldsets>
           <sales_convert_quote_item>
               <rr_price>
                   <to_order_item>*</to_order_item>
               </rr_price>
           </sales_convert_quote_item>
           <sales_convert_order_item>
               <rr_price>
                   <to_quote_item>*</to_quote_item>
               </rr_price>
           </sales_convert_order_item>
       </fieldsets>
      <models>
         <apdinteract_sales>
            <class>ApdInteract_Sales_Model</class>
         </apdinteract_sales>
      </models>
      <events>            
            <sales_order_creditmemo_refund> 
                <observers>
                    <apdinteract_order_sales_order_creditmemo_refund> 
                        <type>singleton</type> 
                        <class>apdinteract_sales/observer</class> 
                        <method>deleteOrderInBookingCalendar</method>
                    </apdinteract_order_sales_order_creditmemo_refund>
                    
                </observers>
            </sales_order_creditmemo_refund>
          <checkout_cart_product_add_after>
              <observers>
                  <apdinteract_checkout_cart_product_add_after>
                      <class>apdinteract_sales/observer</class>
                      <method>salesQuoteItemSetRrPrice</method>
                  </apdinteract_checkout_cart_product_add_after>
              </observers>
          </checkout_cart_product_add_after>
             <sales_order_place_before>
                  <observers>
                      <apdinteract_order_sales_order_place_before>
                          <type>singleton</type>
                          <class>apdinteract_sales/observer</class>
                          <method>changeIncrementId</method>
                      </apdinteract_order_sales_order_place_before>
                  </observers>
              </sales_order_place_before>
              <sales_quote_payment_import_data_before>
                  <observers>
                      <apdinteract_sales_quote_payment_import_data_before>
                          <type>singleton</type>
                          <class>apdinteract_sales/observer</class>
                          <method>changeReservedId</method>
                      </apdinteract_sales_quote_payment_import_data_before>
                  </observers>
              </sales_quote_payment_import_data_before> 
       </events>
       <resources>
           <salesattribute1504579532_setup>
               <setup>
                   <module>ApdInteract_Sales</module>
                   <class>Mage_Sales_Model_Mysql4_Setup</class>
               </setup>
               <connection>
                   <use>core_setup</use>
               </connection>
           </salesattribute1504579532_setup>
           <salesattribute1504579532_write>
               <connection>
                   <use>core_write</use>
               </connection>
           </salesattribute1504579532_write>
           <salesattribute1504579532_read>
               <connection>
                   <use>core_read</use>
               </connection>
           </salesattribute1504579532_read>
       </resources>
       <blocks>
           <sales>
               <rewrite>
                   <order_items>ApdInteract_Sales_Block_Sales_Order_Items</order_items>
               </rewrite>
           </sales>
       </blocks>
   </global>
   <frontend>
       <routers>
           <sales>
               <args>
                   <modules>
                       <apdinteract_sales before="Mage_Sales">ApdInteract_Sales</apdinteract_sales>
                   </modules>
               </args>
           </sales>
       </routers>
      <events>
         <customer_login>
            <observers>
               <apdinteract_sales>
                  <type>model</type>
                  <class>apdinteract_sales/observer</class>
                  <method>cleanExpiredLoginClientQuote</method>
               </apdinteract_sales>
            </observers>
         </customer_login>
      </events>
   </frontend>
   <crontab>
      <jobs>
         <apdinteract_quote_delete>
            <schedule>
               <cron_expr>*/10 * * * *</cron_expr>
            </schedule>
            <run>
               <model>apdinteract_sales/observer::cleanExpiredClientQuote</model>
            </run>
         </apdinteract_quote_delete>
      </jobs>
   </crontab>   
</config>
