// Foundation

$font_path: '../assets/fonts';
$images_path: '../assets/images';
$fa-font-path: $font_path;

@import "settings";
@import "./bower_components/foundation/scss/foundation";


// Or selectively include components
// @import
//   "../bower_components/foundation/scss/foundation/components/accordion",
//   "../bower_components/foundation/scss/foundation/components/alert-boxes",
//   "../bower_components/foundation/scss/foundation/components/block-grid",
//   "../bower_components/foundation/scss/foundation/components/breadcrumbs",
//   "../bower_components/foundation/scss/foundation/components/button-groups",
//   "../bower_components/foundation/scss/foundation/components/buttons",
//   "../bower_components/foundation/scss/foundation/components/clearing",
//   "../bower_components/foundation/scss/foundation/components/dropdown",
//   "../bower_components/foundation/scss/foundation/components/dropdown-buttons",
//   "../bower_components/foundation/scss/foundation/components/flex-video",
//   "../bower_components/foundation/scss/foundation/components/forms",
//   "../bower_components/foundation/scss/foundation/components/grid",
//   "../bower_components/foundation/scss/foundation/components/inline-lists",
//   "../bower_components/foundation/scss/foundation/components/joyride",
//   "../bower_components/foundation/scss/foundation/components/keystrokes",
//   "../bower_components/foundation/scss/foundation/components/labels",
//   "../bower_components/foundation/scss/foundation/components/magellan",
//   "../bower_components/foundation/scss/foundation/components/orbit",
//   "../bower_components/foundation/scss/foundation/components/pagination",
//   "../bower_components/foundation/scss/foundation/components/panels",
//   "../bower_components/foundation/scss/foundation/components/pricing-tables",
//   "../bower_components/foundation/scss/foundation/components/progress-bars",
//   "../bower_components/foundation/scss/foundation/components/reveal",
//   "../bower_components/foundation/scss/foundation/components/side-nav",
//   "../bower_components/foundation/scss/foundation/components/split-buttons",
//   "../bower_components/foundation/scss/foundation/components/sub-nav",
//   "../bower_components/foundation/scss/foundation/components/switches",
//   "../bower_components/foundation/scss/foundation/components/b",
//   "../bower_components/foundation/scss/foundation/components/tables",
//   "../bower_components/foundation/scss/foundation/components/tabs",
//   "../bower_components/foundation/scss/foundation/components/thumbs",
//   "../bower_components/foundation/scss/foundation/components/tooltips",
//   "../bower_components/foundation/scss/foundation/components/top-bar",
//   "../bower_components/foundation/scss/foundation/components/type",
//   "../bower_components/foundation/scss/foundation/components/offcanvas",
//   "../bower_components/foundation/scss/foundation/components/visibility";

//Font Awesome
@import "./vendor/font-awesome/font-awesome";
//@import "../bower_components/font-awesome/css/font-awesome.min.css";

//Carousel
@import "./bower_components/slick-carousel/slick/slick";

//Jquery UI - Used for the datepicker and the autocompletion dropdown menu
@import "./bower_components/jquery.ui/themes/base/core";
@import "./bower_components/jquery.ui/themes/base/theme";

//Custom
@import
"custom-font-icon",
"reset",
"global",
"print",
"typo",
"components/accordion",
"components/breadcrumbs",
"components/buttons",
"components/cart-component",
"components/checkout",
"components/compare-products",
"components/currently-shopping",
"components/dashboard",
"components/datepicker",
"components/form",
"components/footer",
"components/header",
"components/home",
"components/landing-pages",
"components/mini-cart",
"components/product-slider",
"components/quick-finder",
"components/products-image-gallery",
"components/product-item",
"components/product-listing",
"components/product-filter",
"components/product-detail-page",
"components/reviews",
"components/social-media",
"components/slick-theme",
"components/store-locator",
"components/table",
"components/toolbar",
"components/top-car-search",
"components/top-menu",
"components/toolbar",
"components/vir-form",
"components/write-review",
"components/recently-viewed",
"components/my-account",
"components/view-order",
"components/redirect",
"components/search",
"components/customer_mobility",
"components/booking",
"components/address",
"components/styleguide",
"components/campaign",
"components/campaign-map",
"vendor/faq/faq",
"components/stock",
"components/selector";
