<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_Cms>
            <version>0.0.3</version>
        </ApdInteract_Cms>
    </modules>
    <global>
        <models>
            <apdinteract_cms>
                <class>ApdInteract_Cms_Model</class>
            </apdinteract_cms>
        </models>  
        <helpers>
            <apdinteract_cms>
                <class>ApdInteract_Cms_Helper</class>
            </apdinteract_cms>
        </helpers>
        <resources>
            <apdinteract_cms_setup>
                <setup>
                    <module>ApdInteract_Cms</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_cms_setup>
            <cms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cms_write>
            <cms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cms_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_cms_page_edit>
                <observers>
                    <product_auth>
                        <class>apdinteract_cms/observer</class>
                        <method>onAdminCmsPageEditPreDispatch</method>
                    </product_auth>
                </observers>
            </controller_action_predispatch_adminhtml_cms_page_edit>
        </events>
    </adminhtml>
</config> 