// Variable
$cart-label-font-size: 12px;

// Mini cart
.cart-component{
  $priceSize: 28px;

  label, .price-label {
    color: $monsoon;
    font-size: $cart-label-font-size;
  }

  label + a{
    display: inline-block;
  }

  select{
    height: 34px;
    margin: 0;
  }

  .select-collapse{
    display: inline-block;
    margin-right: 3px;
    width: 80%;
  }

  .cart-wrapper {
    border: 1px solid darken($iron, 10%);
    border-radius: 5px;
    margin: 0 0 10px 0;
	position: relative;
  }

  .rrp-price{
	$rrpPriceSize: 16px;
	@extend strong;
  color: $red;
  font-size: $rrpPriceSize;
	height: $rrpPriceSize;
	line-height: $rrpPriceSize;
	padding-top: $priceSize - $rrpPriceSize;
	margin: 0;
  }

  .online-price{
    font-size: 28px;
    color: $oil;
  }

  .pricing{
    color: $tuatara;
    font-size: $base-font;

    &:last-child{
      margin-bottom: 0;
    }

	li {
		line-height: 28px;

		&.pricing-header {
			@extend strong;
			padding: 12px 0 6px 0;
		}

		input {
			margin: 0;
		}

		.right {
			@extend strong;
		}
	}


    .cart-price{
      color: $anchor-font-color;
      text-transform: uppercase;
    }

    label{
      color: $tuatara;
      font-size: $base-font;
    }

  }



  .pricing + span{
    display: block;
    font-size: $base-font;
    margin-bottom: 10px;
  }

  input[type="checkbox"] + label, input[type="radio"] + label{
    margin-right: 10px;
  }

  .upper-cart, .bottom-cart{
    padding: 10px;
  }
  .mid-cart {
	  padding: 17px 10px 1px 10px;
   }

  .upper-cart{
    background-color: $ghost;
    border-radius: 5px 5px 0px 0;
    border-bottom: 1px solid darken($iron, 10%);

	hr {
		margin: 10px;
	}

	.upper-cart-note a {
		color: $primary-color;
		display: block;
		padding: 11px 0px 2px 0;
	}
  }

  .bottom-cart{
    background-color: $sky-colour;
    border-radius: 0px 0 5px 5px;
    border-top: 1px solid darken($iron, 10%);
  }

	.cart-total {

		border-top: 1px solid darken($iron, 10%);
		padding: 8px 0;
		font-size: 28px;


		.price-total-label, .price-total-value {
			@extend strong;

			display: inline-block;

			vertical-align: text-bottom;
		}

		.price-total-label {

			font-size: 18px;

		}

		.price-total-value {

		}

		.gst-note {
			font-size: 12px;
		}

	}

	.cart-footer {
		text-align: right;

		span {
			line-height: 36px;
			font-size: 16px;
			padding-right: 8px;
		}
	}


  // temp fixes
  dl, .required {
	display: none;
  }

  .compatibility{
    text-align: left;

    .p-base-style{
      font-family: $font-family-sans-serif-bold;
      font-size: 18px;
      font-weight: normal;

      .fa{
        font-size: 20px;
        margin-right: 5px;
      }
    }

    .compatible.hide{
      p{
        line-height: 1.25em;
        margin-bottom: 5px;

        &:first-child{
          @extend .p-base-style;
          color: $handchor-color;
        }
        &:last-child{
          margin-bottom: 20px;
        }
      }
    }
    .not-compatible.hide{
      p{
        line-height: 1.25em;
        margin-bottom: 5px;

        &:first-child{
          @extend .p-base-style;
          color: $aluminum;
        }
        &:last-child{
          margin-bottom: 20px;
        }
        a{
          font-size: inherit;
          text-decoration: underline;
        }
      }
    }
  }
}

#product-addtocart-button {
	float: right;
}

.cart{
  .cart-items{
	border-spacing: 0;
	border-top: 1px solid $iron;
	border-radius: $thumb-radius;

    @media #{$small-only} {
      margin-bottom: 10px;
    }
    thead{
      tr{
        th{
          font-family: $font-family-sans-serif;
          font-weight: normal;
        }
      }
    }
    tbody{

      tr{
        td{
          background: none;
		  border-top: 1px solid $iron;

          @media #{$small-only} {
            vertical-align: top;
            padding: 20px 10px;
          }
        }

        &:nth-of-type(2n){
          background: none;
        }

        &:last-child{
          td{
            @media #{$small-only} {
              //border-bottom: 0;
            }
          }
        }
      }
    }

    .product-desc{
      @media #{$small-only} {
        margin: 5px 0;
      }
    }

    .cart-price{
      display: block;
      @media #{$small-only} {
        margin-top: 10px;
      }
    }

	.option_value {
		color: $monsoon;
	}
  }

  .product-image{
    padding-right: 0;
  }

  .btn-remove{
    color: $iron;
    &:hover{
      color: $secondary-color;
    }
  }

  .subtotal-mobile{

	.remove-item {
		overflow: hidden;
	}

    .btn-remove{
      display: block;
      float: left;
      margin: 10px 0;

    }

    .cart-price{
      margin:0;
      display: inline;
    }
  }

  .input-text.qty{
    display: inline-block;
    margin-right: 3px;
    width: 50px;
    @media #{$small-only} {
      margin-bottom: 0;
    }
  }

  .link-edit{
    text-decoration: underline;
  }

  input[type="text"]{
    background: $white;
  }

  .messages {
	margin-left: 0;

	ul {
		margin-left: 0;
	}
  }
}

.shopping-cart-options{
  .form-field{
    background: $white-smoke;
    border: 1px solid $iron;
    border-radius: $thumb-radius;
  }


  input[type="text"]{
    background: $white;
  }

  label{
    font-size: 12px;
    margin-bottom: 5px;
  }

  small.error {
	background: transparent !important;
  }

  .date-calendar{
    input[type="text"]{
      border-radius: 2px 0 0 2px;
      border-right: 0;
      @media #{$large-up} {
        width: 270px;
      }
    }

    .columns:last-child{
      @media #{$large-up} {
        width:37px;
      }
    }
  }
}

.cart-links{
  a{
//    color: $tuatara;
//    text-decoration: underline;
    @media #{$small-only} {
      margin-bottom: 20px;
      display: inline-block;
    }
  }

  .columns:last-child{
    text-align: right;
    @media #{$small-only} {
      text-align: left;
    }
  }
}

.set-store{

  .button.postfix{
    text-transform: none;
    border-radius: 0 2px 2px 0;
  }
}
/* coupon code form not in use at this point
.coupon-code{
    label{
      margin-bottom: 0;

      a{
        color: $tuatara;
        display: block;
        text-decoration: underline;
      }
    }

    input[type="text"]{
      margin-top: 5px;
      margin-bottom: 5px;
    }
}
*/
.btn-update,
.btn-empty,
.btn-continue{
  background: none;
  color: $secondary-color;
  padding: 0;
  font-size: 14px;
  text-decoration: underline;
  &:hover{
    background: none;
    color: $secondary-color;
    text-decoration: underline;
  }
}

.sessiondate-error,
.cartaddress-error{
  font-size: 0.85714rem;
  color: $alert-color;
}

.stock-error {
	//@extend strong;
	color: $alert-color;
}
.cart-loading {
	background-color: #FFF;
	border-radius: 5px;
	display: none;
	height: 100%;
	position: absolute;
	opacity: 0.8;
	text-align: center;
	width: 100%;
	z-index: 2;

	i {
		left: 0;
		margin-top: -20px;
		position: absolute;
		top: 50%;
		width: 100%;
	}
}
.cart-component.loading .cart-loading {
	display: block;
}

.available-times + .load-indicator {
	display: none;
}
	.available-times.loading + .load-indicator {
		display: block;
		height: 35px;
		float: right;
		margin-top: -49px;
		line-height: 35px;
		margin-right: 25px;
		cursor: default;
	}

.car-tyres-icon {
	$car-height: 24px;

	background: transparent url('../images/car_icon_tyre_sprite.png') no-repeat 0 0;
	height: $car-height;
	margin: 23px 0 0 5px;
	width: 55px;

	&.rear {
		background-position: 0 (-$car-height);
	}
}

#stock-error-message {
	color: $alert-color;

	p {
		font-size: 16px;
	}
}

.stock-status,
.mobile-stock-status {
  &.has-tip,
  &.has-tip:hover,
  &.has-tip:focus {
    border-bottom-width: 0;
    color: $slider-dot-color;
  }
}
.text-red{
  color: $red;
}

@media #{$small-only} {
	// fix for abide scroll bug on iOS
	#cartaddress-id {
		margin-top:-60px;
		padding-top:60px;
	}
}
