<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ApdInteract_Review>
            <version>0.1.1</version>
        </ApdInteract_Review>
    </modules>
    <global>
        <rewrite>
            <customer_review_details_rewrite>
                <from><![CDATA[#^/account/reviews/view/id/#]]></from>
                <to><![CDATA[review/customer/view/id/]]></to>
                <complete>1</complete>
            </customer_review_details_rewrite>
        </rewrite>
        <rewrite>
            <customer_review_rewrite>
                <from><![CDATA[#^/account/reviews#]]></from>
                <to>review/customer/</to>
                <complete>1</complete>
            </customer_review_rewrite>
        </rewrite>
        <models>
            <apdinteract_review>
                <class>ApdInteract_Review_Model</class>
            </apdinteract_review>
            <review_resource>
                <rewrite>
                    <review>ApdInteract_Review_Model_Resource_Review</review>
                </rewrite>
            </review_resource>
        </models>
        <helpers>
            <apdinteract_review>
                <class>ApdInteract_Review_Helper</class>
            </apdinteract_review>
        </helpers>
        <blocks>
            <apdinteract_review>
                <class>ApdInteract_Review_Block</class>
            </apdinteract_review>
            <review>
                <rewrite>
                    <product_view_list>ApdInteract_Review_Block_Product_View_List</product_view_list>
                </rewrite>
            </review>
        </blocks>
        <events>
            <review_save_before>
                <observers>
                    <apdinteract_review_save_before>
                        <class>apdinteract_review/observer</class>
                        <method>checkSF</method>
                    </apdinteract_review_save_before>
                </observers>
            </review_save_before>
            <review_save_after>
                <observers>
                    <apdinteract_review_save_after>
                        <class>apdinteract_review/observer</class>
                        <method>updateSF</method>
                    </apdinteract_review_save_after>
                </observers>
            </review_save_after>
            <review_delete_before>
                <observers>
                    <apdinteract_review_delete_before>>
                        <class>apdinteract_review/observer</class>
                        <method>deleteToSF</method>
                    </apdinteract_review_delete_before>
                </observers>
            </review_delete_before>
        </events>
        <resources>
            <apdinteract_review_setup>
                <setup>
                    <module>ApdInteract_Review</module>
                </setup>
            </apdinteract_review_setup>
        </resources>

    </global>
    <frontend>
        <routers>
            <review>
                <args>
                    <modules>
                        <apdinteract_review before="Mage_Review">ApdInteract_Review</apdinteract_review>
                    </modules>
                </args>
            </review>
        </routers>
    </frontend>
</config>