
// Variable
$price-label-color: #7F7F7F;
$product-desc-color: #656565;

.products-list {
  @media #{$medium-up} {
    padding: 0 0 0 39px;
  }
  .product-title {
    margin-bottom: 0;
    margin-top: 5px;
    @media #{$medium-up} {
      margin-top: 10px;
    }

    a {
      @extend strong;
      color: $slider-dot-color;
      font-size: $base-font-size + 10;
      @media #{$small-only} {
        font-size: $base-font-size + 2;
      }
    }
  }
  .product-image {
    @media #{$medium-up} {
        display: block;
        margin-left: -70px;
    }
  }

  .no-badge{
    .product-image{
      @media #{$medium-up} {
        top: 0;
      }
    }
  }

  .product-description {
      margin: 20px 0 0 0;
  }
}

.comp-product-details {
  margin: 25px 0 0 32px;

  &+ .comp-product-details {
    margin: 0 0 0 22px;
  }

  .from {
    text-transform: capitalize;
  }

  @media #{$large-up} {
    margin: 25px 0 0 22px;
  }
}

.rrp{
  color: $price-label-color;
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
}

.rrp-label{
  display:block;
  margin-bottom: 1px;
}

.rrp-amount{
	@extend strong;
  color: $price-label-color;
  color: $red;
  display: block;
  font-size: 16px;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.online-price-label{
  color: $price-label-color;
  display: block;
  font-size: 12px;
  margin-bottom: 1px;
  @media #{$small-only} {
    font-family: $font-family-sans-serif;
  }
}

.online-price {
	$size: 18px;

	@extend strong;
  color: $slider-dot-color;
  display: block;
  font-size: $size;
  line-height: $size;
  margin-bottom: 20px;

  sub {
		font-family: $font-family-sans-serif;
		vertical-align: baseline;
	}

  .from {
		font-size:15px;
		}

  .price{
    margin-top: 7px;
  }
}

.button{
  margin-bottom: 10px;
}

.add-compare, .view-compare {
	@media #{$small-only} {
    display: none;
  }
  display: block;
  text-decoration: underline;
}
.add-compare {
  @extend a.attenuate;
}

.pricing-section{
  padding-right: 20px;
  text-align: right;

  @media #{$small-only} {
    padding-left: 0;
	padding-top: 15px;
  }

  .button-group.stack {
	  margin: 0 0 8px auto;
	  max-width: 150px;

	  > li {
		margin-bottom: 4px;
	  }
  }
}

.product-type{
  color: $product-desc-color;
}

.star-rating{
  margin: 10px 0 0;
}

.review-links{
  @media #{$small-only} {
    display: none;
  }
  a{
    @extend .attenuate;
  }
}

.product-features {

  li{
    margin: 0;

    @media #{$small-only} {
      padding: 0;
      margin: 10px 0 0;
    }

    i {
      cursor: help;
    }
  }
}

sup,
sub{
  font-size: 14px;
}

.product-media-section{
  @media #{$small-only} {
    margin-left: -15px;
  }

  .product-badge{
    @media #{$small-only} {
      display: none;
    }
  }
  img {
    &.expand {
      max-width: 212px;
    }
  }
}


.product-info-section{
  padding-left: 0;
  .product-badge{
    display: none;
    @media #{$small-only} {
      display: block;
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
}

.comp-product-list{
  > div{
    > .row{
      @media #{$small-only} {
        background: none;
        border-bottom: 1px solid $primary-gray-border;
        padding: 15px 0 6px 0;
      }

      &:last-child{
        @media #{$small-only} {
          border-bottom: 0;
        }
      }
    }
  }
}

// sidebar
.sidebar {

	.block-title, .widget-title {

		h2 {
			@extend strong;
			font-size: 16px;
		}

	}

}

//Lazy load
.ias-spinner,
.ias-noneleft,
.ias-trigger{
  margin: 20px 0;
}


.ias-trigger{
	@extend strong;

	cursor: pointer;
	color: $secondary-color;
	font-size: 16px;

	&:hover {
		color: $orange-color-hover;

	}
}
.ias-trigger-next span {

	&:after {
		content: '\f054';
		margin-left: 10px;
		display: inline-block;
		font-family: FontAwesome;
	}
}


// Selected Search
.selected-search {
	font-size: $base-font-size;
	margin: 0 0 10px 0;

	@media #{$medium-up} {
		font-size: $base-font-size + 2;
	}


	.selected-search-column {
		margin: 5px 0;
	}

	.fa-arrow-circle-right {
		color: $evergreen-color;
		 font-size: $base-font-size + 5;
	}

	.selected-label {
		@extend strong;
		color: $charcoal;
		line-height: 18px;
		@media #{$medium-up} {
			margin-bottom: 5px;
		}
	}

}


// Add Product Modal

.add-product-modal {

	border-radius: 6px;

	h2 {
		font-size: 28px;
		line-height: 28px;
		margin-bottom: 25px;
	}
	em {
		color: $monsoon;
		font-size: 12px;
	}

	.close-reveal-modal i {
		font-size: 28px;
		color: $tuatara;
	}

	// state: loading (default)
	.popup-loading {
		display: block;
		text-align: center;
		padding: 130px 80px;

		p {
			padding-top: 20px;
		}
	}
	.popup-form, .popup-error {
		display: none;
	}

	// state: show form
	&.show-form {
		.popup-form {
			display: block;
		}

		.popup-loading, .popup-error {
			display: none;
		}
	}

	// state: show error
	&.show-error {
		.popup-error {
			display: block;
		}

		.popup-loading, .popup-form {
			display: none;
		}
	}

  //added style for modal
  .modal-product-details{
    margin: 10px 0;

    .cart-modal-logo{
      margin-bottom: 10px;
      max-width: 150px;
    }
  }
}

@media only screen and (min-width: 45.7142em) {
	.add-product-modal {
		max-width: 450px;
	}
}

#add-product-modal{
    .columns{
        padding:0px !important;
    }
    .field-price {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-bottom: 20px;
        padding: 10px 0;
    }
    .total-price {
        float: right;
        font-weight: bold;
    }

    .button.radius.proceed-to-cart {
         float: right;
         padding: 0 24px;
    }
    .field-button{
        .button{
            margin-bottom: 0px;
            @media only screen and (max-width: 414px) {
              display: block;
              margin-bottom: 10px;
              width: 100%;
            }
        }
    }
}

.cdp-promo-container {
  $text-colour: $aluminum;

  padding: 48px 0 10px 0px;

  h3 {
    color: $text-colour;
    font-size: rem-calc(36);
    line-height: 1.2;
    margin-bottom: 25px;
  }

  p {
    color: $text-colour;
    font-size: rem-calc(15);
    margin-bottom: 45px;
  }

	.full-width-image {
		img {
			width: 100%;
		}
	}

  @media #{$small-only} {
    padding: 30px 0 10px 0px;

    h3 {
      font-size: rem-calc(28);
      margin-bottom: 17px;
    }

    p {
      margin-bottom: 25px;
    }
  }
}
