.clearfix {
  *zoom: 1;
  &:before {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.searchautocomplete {
  /*position: absolute;
  top: -5px;
  right: 0px;
  height: 34px;
  width: 458px;
  padding: 4px 10px;*/
  -webkit-border-radius: 0px 0px 0px 5px;
  -moz-border-radius: 0px 0px 0px 5px;
  border-radius: 0px 0px 0px 5px;
  /*background: #fff;*/
  display: block;
  .sprite {
    background: url($images_path+'/vendor/mirasvit/sprite.png');
  }
  > label {
    float: left;
    margin-right: 10px;
    color: #333;
    font-weight: bold;
    margin-top: 8px;
  }
  .nav {
    background: url($images_path+'/vendor/mirasvit/sprite.png');
    float: left;
    height: 34px;
    position: relative;
    width: 340px;
    .nav-search-in {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 15;
      .category {
        opacity: 0;
        filter: alpha(opacity = 0);
        background: white;
        border: 1px solid #DDD;
        color: black;
        cursor: pointer;
        height: 29px;
        left: 5px;
        margin: 0;
        outline: 0;
        padding: 0;
        position: absolute;
        top: 5px;
        visibility: visible;
        width: auto;
      }
      .category-fake {
        -webkit-border-radius: 5px 0px 0px 5px;
        -moz-border-radius: 5px 0px 0px 5px;
        border-radius: 5px 0px 0px 5px;
        background-color: #fcfcfc;
        background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
        background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
        background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
        background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff7f7f7', GradientType=0);
        border-right: 1px solid #dddddd;
        color: #777;
        cursor: pointer;
        float: left;
        font-size: 11px;
        height: 27px;
        line-height: 27px;
        margin: 4px 0px 0px 2px;
        padding: 0px 25px 0px 10px;
        text-align: center;
        white-space: nowrap;
      }
      .nav-down-arrow {
        right: 10px;
        top: 16px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4.5px 0 4.5px;
        border-color: #000000 transparent transparent transparent;
        line-height: 0px;
      }
      &:hover {
        .category-fake {
          background-color: #eeeeee;
          background-image: -moz-linear-gradient(top, #f7f7f7, #e1e1e1);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#e1e1e1));
          background-image: -webkit-linear-gradient(top, #f7f7f7, #e1e1e1);
          background-image: -o-linear-gradient(top, #f7f7f7, #e1e1e1);
          background-image: linear-gradient(to bottom, #f7f7f7, #e1e1e1);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f7f7', endColorstr='#ffe1e1e1', GradientType=0);
        }
        .nav-down-arrow {
          background-position: -6px -34px;
        }
      }
    }
    .nav-input {
      *zoom: 1;
      margin: 6px 0px 0px 10px;
      padding: 0px 5px 0px 5px;
      z-index: 12;
      position: relative;
      &:before {
        display: table;
        content: "";
        line-height: 0;
      }
      &:after {
        display: table;
        content: "";
        line-height: 0;
        clear: both;
      }
      input {
        z-index: 10;
        padding: 0px;
        height: 23px;
        border: 0px;
        font-family: arial, sans-serif;
        font-size: 12px;
        background: transparent;
        color: black;
        outline: 0px;
        margin-left: 5px;
        width: 100%;
        &.suggest {
          display: none;
          color: #999;
          z-index: 9;
        }
      }
    }
  }
  .nav-submit-button {
    background: url($images_path+'/vendor/mirasvit/sprite.png');
    background-position: 0px -34px;
    background-repeat: no-repeat;
    float: left;
    height: 34px;
    padding-left: 5px;
    .button {
      width: 39px;
      height: 34px;
      padding: 0px 9px;
      margin: 0px;
      cursor: pointer;
      font-weight: bold;
      color: white;
      line-height: 12px;
      font-size: 13px;
      background-color: #3c454e;
      background-image: -moz-linear-gradient(top, #444c55, #313a44);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444c55), to(#313a44));
      background-image: -webkit-linear-gradient(top, #444c55, #313a44);
      background-image: -o-linear-gradient(top, #444c55, #313a44);
      background-image: linear-gradient(to bottom, #444c55, #313a44);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444c55', endColorstr='#ff313a44', GradientType=0);
      border: 1px solid #313a44;
      -webkit-border-radius: 0px 5px 5px 0px;
      -moz-border-radius: 0px 5px 5px 0px;
      border-radius: 0px 5px 5px 0px;
      z-index: 14;
      &:hover {
        background-color: #39414b;
        background-image: -moz-linear-gradient(top, #313a44, #444c55);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#313a44), to(#444c55));
        background-image: -webkit-linear-gradient(top, #313a44, #444c55);
        background-image: -o-linear-gradient(top, #313a44, #444c55);
        background-image: linear-gradient(to bottom, #313a44, #444c55);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff313a44', endColorstr='#ff444c55', GradientType=0);
      }
    }
  }
  .searchautocomplete-placeholder {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: #FFF;
    border: 1px solid #ccc;
    padding: 15px 10px 5px 10px;
    position: absolute;
    right: 0;
    top: 42px;
    width: 318px;
    z-index: 102;
    &:before {
      border-color: transparent transparent #CCC transparent;
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 5px;
      height: 0;
      width: 0;
      top: -11px;
      left: 30px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        *zoom: 1;
        text-align: left;
        padding: 5px 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        display: block;
        &:before {
          display: table;
          content: "";
          line-height: 0;
        }
        &:after {
          display: table;
          content: "";
          line-height: 0;
          clear: both;
        }
        a {
          text-decoration: none;
          &.name {
            color: #444;
            font-weight: bold;
            display: block;
            margin-bottom: 3px;
          }
          .pull-right {
            float: right;
          }
        }
        &.active {
          background-color: #eeffee;
          cursor: pointer;
          a {
            text-decoration: none;
          }
        }
        .searchautocomlete-image {
          float: left;
          margin: 0px 10px 5px 0px;
        }
        .price-box {
          font-weight: bold;
          font-size: 13px;
          color: #C76200;
          float: right;
          .regular-price .price-label, .old-price .price-label, .special-price .price-label {
            display: none;
          }
          .price-label {
            font-weight: normal;
            color: #999;
          }
          .old-price .price {
            font-size: 0.9em;
            color: #999;
          }
        }
        .highlight strong {
          color: #f00;
        }
        .ratings {
          margin: 0;
          line-height: 14px;
          .rating-box {
            float: left;
            margin: 0 5px 0 0;
          }
        }
      }
    }
    .index-title {
      text-align: right;
      color: #0A263C;
      border-bottom: 1px solid #CCC;
      padding: 2px 5px;
      span {
        color: #666;
        font-size: 0.9em;
      }
    }
    .all {
      text-align: right;
      margin: 10px 4px 5px 10px;
    }
  }
  .searchautocomplete-loader {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 5px;
    right: 25px;
    z-index: 99;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    display: none;
    div {
      position: absolute;
      background-color: #FFFFFF;
      height: 3px;
      width: 3px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-animation-name: f_autocomplete_loader;
      animation-name: f_autocomplete_loader;
      -webkit-animation-duration: 0.64s;
      animation-duration: 0.64s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      &#g01 {
        left: 0px;
        top: 7px;
        -webkit-animation-delay: 0.24s;
        animation-delay: 0.24s;
      }
      &#g02 {
        left: 2px;
        top: 2px;
        -webkit-animation-delay: 0.32s;
        animation-delay: 0.32s;
      }
      &#g03 {
        left: 7px;
        top: 0px;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
      &#g04 {
        right: 2px;
        top: 2px;
        -webkit-animation-delay: 0.48s;
        animation-delay: 0.48s;
      }
      &#g05 {
        right: 0px;
        top: 7px;
        -webkit-animation-delay: 0.56s;
        animation-delay: 0.56s;
      }
      &#g06 {
        right: 2px;
        bottom: 2px;
        -webkit-animation-delay: 0.64s;
        animation-delay: 0.64s;
      }
      &#g07 {
        left: 7px;
        bottom: 0px;
        -webkit-animation-delay: 0.72s;
        animation-delay: 0.72s;
      }
      &#g08 {
        left: 2px;
        bottom: 2px;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
      }
    }
    .fa{
      color: $primary-gray-border;
    }
  }
}

@-moz-keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }

  100% {
    background-color: #ffffff;
  }
}


@-webkit-keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }

  100% {
    background-color: #ffffff;
  }
}


@-ms-keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }

  100% {
    background-color: #ffffff;
  }
}


@-o-keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }

  100% {
    background-color: #ffffff;
  }
}


@keyframes f_autocomplete_loader {
  0% {
    background-color: #000000;
  }

  100% {
    background-color: #ffffff;
  }
}


.searchautocomplete-widget {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

// search results
ul.searchindex-results{
  list-style: none;
  margin-left: 0;

  li{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
    font-weight: normal;
    height: 34px;
    margin: 0 10px 0 0;
    overflow: hidden;

    &.active a{
      background: $aqua-blue-color;
      color: $white;

      &:hover{
        background: $aqua-blue-color;
        border: 1px solid #a0b3c3;
        box-shadow: none;
      }
    }

    a{
      background: $white;
      color: #0067b1;
      font-size: 14px;
      font-weight: normal;
      line-height: 31px;
      padding: 2px 15px 0 15px;

      &:hover{
        background: none;
        border-color: transparent;
        box-shadow: none;
        cursor: pointer;
      }
    }

    .title a{
      color: $handchor-color;
      font-size: 14px;
    }
  }
}

.searchindex-result {

  ul{
    margin-left: 0;
  }

  li:not(.pagination){
    border-bottom: 1px solid $smoke;
    list-style: none;
    margin-bottom: 10px;
    padding: 0 0 10px;

    .title a{
      color: $aqua-blue-color;
      font-size: 15px;
    }
  }

  .pagination{
    margin: 0;

    li{
      border: 0
    }
  }
}
