<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_SearchResult>
            <version>1.0.0</version>
        </ApdInteract_SearchResult>
    </modules>
    <global>
        <models>
            <apdinteract_searchresult>
                <class>ApdInteract_SearchResult_Model</class>
            </apdinteract_searchresult>
        </models>
        <blocks>
            <apdinteract_searchresult>
                <class>ApdInteract_SearchResult_Block</class>
            </apdinteract_searchresult>
        </blocks>
        <helpers>
            <apdinteract_searchresult>
                <class>ApdInteract_SearchResult_Helper</class>
            </apdinteract_searchresult>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <apdinteract_searchresult>
                        <class>ApdInteract_SearchResult_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </apdinteract_searchresult>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers> <!-- declare a router -->
            <searchresult>
                <use>standard</use>
                <args>
                    <module>ApdInteract_SearchResult</module>
                    <frontName>searchresult</frontName>
                </args>
            </searchresult>
        </routers>
        <layout>
            <updates>
                <apdinteract_searchresult>
                    <file>apdinteract_searchresult.xml</file>
                </apdinteract_searchresult>
            </updates>
        </layout>
    </frontend>
</config>