// Variable

.filtercont{
  ul > li {
    margin-bottom: 3px;
    position: relative;

    i {
      position: absolute;

      &~ span {
        padding-left: 40px;
      }
    }

    span {
      line-height: 30px;
    }
  }
}

// start Here
// .filtercont{
//   ul > li {
// 	a:before {
// 		font-size: 16px;
// 	}
//     .durability,
//     .superior,
//     .sport,
//     .quiet,
//     .fuel,
//     .mileage,
//     .handling,
//     .grip,
//     .off,
//     .value,
//     .slow,
//     .even,
//     .performance,
//     .cycling{
//       &:before{
//         display: inline-block;
//         font-family: 'icomoon';
//         margin-left: 1px;
//         min-width: 20px;
//       }
//     }
//     .durability:before {
//         content: "\e60b";
//     }
//     .superior:before {
//         content: "\e607";
//     }
//     .sport:before {
//         content: "\e608";
//     }
//     .quiet:before {
//         content: "\e60d";
//     }
//     .fuel:before {
//         content: "\e606";
//     }
//     .mileage:before {
//         content: "\e609";
//     }
//     .handling:before {
//         content: "\e608";
//     }
//     .grip:before {
//         content: "\e607";
//     }
//     .off:before {
//         content: "\e603";
//     }
//     .value:before {
//         content: "\e601";
//     }
//     .slow:before {
//         content: "\e605";
//     }
//     .even:before {
//         content: "\e60c";
//     }
//     .performance:before {
//         content: "\e604";
//     }
//     .cycling:before {
//         content: "\e60a";
//     }
//   }
// }

.accordion {
  .accordion-navigation, dd{
    > a{
      @include bg-gradient-color($white, $accordion-bottom);
      border: 1px solid $input-border-color;
      border-radius: 2px;
	  font-size: 14px;
      height: auto;
      line-height: normal;
      padding: 7px 10px 7px 26px;
      position: relative;

      &:before{
        border-color: transparent transparent transparent $anchor-font-color;
        border-image: none;
        border-style: solid;
        border-width: 5px;
        content: "";
        display: block;
        height: 0;
        left: 14px;
        margin-top: -4px;
        position: absolute;
        top: 50%;
        width: 0;
      }

	  + div {
		margin-top: 8px;
	  }

    }

	.filter-state {
		max-width: 450px;
		padding-bottom: 15px;
	}
}

  .accordion {
    .accordion-navigation, .accordion-navigation.active{
      a{
         @include bg-gradient-color($accordion-sub-top, $accordion-sub-bottom);
         color: $white;

        &:before{
          border-color: $anchor-font-color transparent transparent transparent;
          margin-top: 0;
          left: 20px;
        }
      }
    }
  }
}

.accordion{
  .accordion-navigation.active{
    > a {
       @include bg-gradient-color($white, $accordion-bottom);

      &:before{
        border-color: $anchor-font-color transparent transparent transparent;
        margin-top: -1px;
        left: 12px;
      }
    }

    .accordion-navigation{
      a{
         @include bg-gradient-color($accordion-sub-top, $accordion-sub-bottom);
         border: 0;
         color: $white;

        &:before{
          border-color:transparent transparent transparent $anchor-font-color;
          margin-top: -4px;
          left: 20px;
        }
      }
}

    .accordion-navigation.active{
      a{
         @include bg-gradient-color($accordion-sub-top, $accordion-sub-bottom);
         color: $white;

        &:before{
          border-color: $anchor-font-color transparent transparent transparent;
          margin-top: -1px;
          left: 15px;
        }
      }

      > .content{
        padding: 10px;
      }
    }
  }
}


.accordion.accordion-product {
  .accordion-navigation{
    border-bottom: $colour-silver solid 1px;
    
    &:first-child {
      border-top: $colour-silver solid 1px;
    }
    
    .icons {
      position: absolute;
      left: 12px;
      top: 50%;
      width: 12px;
      transform: translate(0, -50%);

      .icon.icon-minus {
        width: 12px;
        height: 2px;
        background: $white;
        display: none;
      }
      .icon.icon-plus {
        position: relative;
        display: none;
        
        &:before {
          content: ' ';
          background: $white;
          display: block;
          width: 12px;
          height: 2px;
        }
        &:after {
          content: ' ';
          background: $white;
          display: block;
          width: 2px;
          height: 12px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    a.accordion-navigation-title {
      position: relative;
      color: $colour-mineshaft;
      @include bg-gradient-color($white, $white);
      padding: 10px 10px 10px 34px;
      border: none;

      &:before {
        display: none;
      }

      h3 {
        color: $colour-mineshaft;
        font-size: rem-calc(21px);
        margin: 0;
        line-height: 1;
      }

      .icon.icon-minus { display: none; }
      .icon.icon-plus {
        display: block;
        &:before,
        &:after {
          background-color: $colour-mineshaft;
        }
      }
    }

    .content {
      background: #efefef;
      padding: 35px;
      margin: 0;      
    }

    &[data-tab-type="features-and-benefits"] .content {
        h4 {
          color: #335194;
          text-transform: none;
        }
    }
  }

  .accordion-navigation.active {
    border: none;

    a.accordion-navigation-title {
      @include bg-gradient-color($accordion-sub-top, $accordion-sub-bottom);
      color: $white;

      h3 {
        color: $white;
      }

      .icon.icon-plus { display: none; }
      .icon.icon-minus {
        display: block;
      }
    }

    .content {
      border-bottom: $colour-silver solid 1px;
    }
  }
}

//DD - DT
dl .filterdt{
  background-color: $colour-congressblue;
  border: 0;
  border-radius: 2px;
  color: $white;
  font-weight: normal;
  height: auto;
  line-height: normal;
  font-size: 14px;
  padding: 7px 10px 7px 26px;
  position:relative;
  cursor: pointer;
  margin: 0 0 10px 0;

  &:before{
    border-color: transparent transparent transparent $colour-schoolbusyellow;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: block;
    height: 0;
    left: 14px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 0;
  }

  > i {display:none;}
}

dl .filterdt.active{
  &:before{
    border-color: $colour-schoolbusyellow transparent transparent transparent;
    margin-top: -1px;
    left: 12px;
  }
}

.filtercont{
  >ul{
	margin-bottom: 7px;
    >li{
      .disable{
        display: none;
      }
      a{
        color: $tuatara;
        &:hover{
          color: $anchor-font-color;
        }
      }
    }
  }
}
