// Promo Bar
.promo-bar{
	$colour-bg: $colour-congressblue;
	$colour-text: $colour-white;
	$colour-icon: $colour-schoolbusyellow;

	background-color: $colour-bg;
	color: $colour-text;
	line-height: 28px;
	padding: 10px 15px;

	.fa-play { // this needs to be removed from the DOM
		display: none;
	}

	.promo-messages {
		color: $colour-text;
		display: inline-block;
		font-family: $font-family-fe-sinclair;
		font-size: rem-calc(15);
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-transform: uppercase;
		vertical-align: middle;

		li{
			display: none;

			&:before {
				color: $colour-icon;
				content: '\f0a9';
				font-family: fontAwesome;
				padding-top: 6px;
				padding-right: 5px;
			}

			&:first-child{
				display: block;
			}
		}

		a,
		a:hover{
			color: $colour-text;
		}
	}

	.header-newletter {
		$colour-input-bg: $colour-chambray;
		$colour-placeholder: rgba($colour-white,0.6);
		$colour-result-bg: $colour-schoolbusyellow;
		$colour-result-text: $colour-mineshaft;
		$colour-button-hover-bg: $colour-schoolbusyellow;
		$colour-button-hover-text: $colour-congressblue;

		$height: 28px;

		display: block;
		height: $height;
		margin: 0;
		overflow: visible;
		position: relative;

		li {
			margin: 0;
		}

		label {
			color: $colour-text;
			cursor: default;
			font-size: 14px;
			line-height: $height;
			margin-right: 15px;
		}
		input {
			background-color: $colour-input-bg;
			border-width: 0;
			border-radius: 1px 0 0 1px;
			color: $colour-text;
			height: $height;
			margin: 0;
			padding: 4px 8px;
			width: 202px;

			&::-webkit-input-placeholder {
				 color: $colour-placeholder;
			}
			&:-moz-placeholder {
				 color: $colour-placeholder;
			}
			&::-moz-placeholder {
				 color: $colour-placeholder;
			}
			&:-ms-input-placeholder {
				 color: $colour-placeholder;
			}
		}
		button {
			border-radius: 0 1px 1px 0;
			font-size: 14px;
			height: $height;
			line-height: $height;
			margin: 0;
			padding: 0;
			text-align: center;
			width: $height;

			&:hover,
			&:active,
			&:focus {
				background-color: $colour-button-hover-bg;
				color: $colour-button-hover-text;
			}

		}

		.result {
			background-color: $colour-result-bg;
			color: $colour-result-text;
			line-height: 22px;
			padding: 0 8px;
			position: absolute;
			top: $height + 1;
		}
	}
}

// Top Banner
.top-banner-wrapper {
	$colour-header-bg: $colour-congressblue;
	$colour-link: rgba($colour-white,0.6);
	$colour-link-hover: $colour-white;
	$colour-link-active: $colour-white;
	$colour-highlight: $colour-schoolbusyellow;
	$colour-button: $colour-ceruleanblue-second;
	$main-gradient-from: $colour-Lochmara;
	$main-gradient-to: $colour-congressblue-light;

	$logo-width: 185px;
	$logo-height: 53px;

	@include bg-gradient-color-hoz($main-gradient-from, $main-gradient-to);



  @extend .bar-shadow;
  .title {
		font-size: 12px;
    margin: 26px 15px;

    .logo {
			max-height: $logo-height;
      max-width: $logo-width;
      width: 100%;

      > img {
				max-height: $logo-height;
        max-width: $logo-width;
      }
    }
  }

  @media only screen and (max-width: 45.787em) {
    background: $colour-congressblue;
  }

    a {
      color: $colour-link;
			transition: color 0.2s ease;

      &:hover,
      &:active
      &:focus {
          color: $colour-link-hover;
      }

      & > .fa-search {
        color: $colour-link;

        &:hover {
          color: $colour-link-hover;
        }
      }

			&.anyclass-hl {
				color: $colour-link-active;
				font-weight: bold;
			}
    }

		// Store locator
		.location-options {
				color: $colour-link;
				margin: 0;
				padding: 0;

				li {
						line-height: 34px;
						margin-left: 15px;
				}
		}
		.find-location {
				i, span, a {
						display: inline-block;
				}

				i,
				.store a {
					color: $colour-highlight;
				}

				.change {
						padding-left: 3px;
				}

		}

		.store-locator-link {
			i {

				color: $colour-highlight;
				font-size: 14px;
				line-height: normal;
				padding-right: 4px;
				vertical-align: inherit;
			}
		}


	.store-locator {
		$colour-button-hover-bg: $colour-schoolbusyellow;
		$colour-button-hover-text: $colour-congressblue;

			input {
					float: left;
			}
			.text-input {
					border-radius: 0;
					border-width: 0;
					box-shadow: none;
					color: $colour-congressblue;
					font-size: 12px;
					width: 135px;

					&::-webkit-input-placeholder {
					   color: $colour-congressblue-light;
					}
					&:-moz-placeholder {
					   color: $colour-congressblue-light;
					}
					&::-moz-placeholder {
					   color: $colour-congressblue-light;
					}
					&:-ms-input-placeholder {
					   color: $colour-congressblue-light;
					}
			}
			.button {
				background:	$colour-button;
				border-radius: 0 1px 1px 0;
				font-family: $font-family-fe-sinclair-medium;
				font-size: 14px;
				height: 34px;
				line-height: normal;
				margin-left: -2px;
				padding: 0 6px;
				text-transform: uppercase;

				&:hover,
				&:active,
				&:focus {
					background-color: $colour-button-hover-bg;
					color: $colour-button-hover-text;
				}
			}
	}
	.mobile-store-locator {
		float: right;
		height: $topbar-height;
		line-height: $topbar-height;
		margin: 0;
		padding: 0 10px;

		a {
			color: $colour-link;
		}
	}
}

// Top banner links
.top-link-wrapper {
  display: inline-block;
  height: 54px;
  padding-top: 15px;
  position: relative;
  overflow: hidden;

  ul{
	display: block;
	padding: 0;
	margin: 8px 0 0 0;
	white-space: nowrap;

    li {
		border-right: 1px solid rgba($primary-color, 0.3);
		display: inline-block;
		line-height: 20px;
		padding: 0 13px;
		white-space: normal;
		overflow: visible;

		&:last-child {
			border-right: none;
			padding-left: 5px;
		}

     .cart-item-count {
		background-color: $white;
        border-radius: $global-rounded;
		color: $base-body-color;
		display: inline-block;
		min-width: 19px;
		text-align: center;
		margin-left: 3px;

		&:last-child {
			border-right: none;
		}
      }
      &.cart-icon{
        i {
			padding-right: 5px;
		}
      }
    }
    a {
		display: inline-block;
		font-size: 14px;
    }

  }

  .top-search-form {
		padding: 0 15px;
	}

}
@media only screen and (max-width: 45.787em) {
  .top-link-wrapper {
	height: 45px;
	padding: 0;
	width: 100%;

    ul{
      border: 0;
      border-radius: 0;
	  margin: 12px 0 0 0;
	  padding: 0;
    }

	.top-search-form {
		padding: 5px 15px;
	}

  }
}

.top-search-link {
  font-size: 15px;
}


// Top Bar
.top-bar-wrapper {
	$main-gradient-from: $colour-mariner;
	$main-gradient-to: $colour-blumine;

	//@extend .bar-shadow;
	background: #00F;
	position: relative;
	z-index: 10;

  .top-bar{
		$height: 45px;

    padding: 0 15px;

	.toggle-topbar {
		background-color: transparent;;
		margin-left: 0;
		left: 0;
		position: relative;

		i {
			color: $colour-white;
		}
	}

    .name {

		h1 {
			a {
				color: $primary-color;
				font-family: $font-family-sans-serif-bold;
				font-size: 20px;
				letter-spacing: -1px;
				padding: 0 0 0 10px;
				margin: 0;
				width: auto;

				img {
					height: $height;
				}
			}
		}
    }
  }

	@media only screen and (min-width: 45.7857em) {
		@include bg-gradient-color-hoz($main-gradient-from, $main-gradient-to);
	}
  @media only screen and (max-width: 45.7857em) {

      .top-bar {
          padding: 0;

        &.expanded {

            .top-bar-section{

                li{
                    border-bottom: 1px solid rgba(white, .10);

                    &:hover {
                        background-color: transparent;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                    a {
                        font-size: $base-font-size;


                    }
                    i {
                        color: $anchor-font-color;
                    }

                    &:not(.has-form) {

                        a:not(.button) {
                            color: $white;

                            &:hover {
                                color: $white;
                            }
                        }
                    }

                }
            }
        }
        .top-bar-section {
          .dropdown{
          	background: $colour-congressblue;
          }
        }
        .toggle-topbar {

          &.menu-icon {
            a {
              padding: 0 0.9375rem;
            }
          }
        }

      }
    }
}

// mobile header
.title-area {
	.name a {
		height: 45px;
		min-width: 250px;
		padding: 10px 0;

		img {
			height: 25px;
		}
	}
}
