// --------------------------
// Variables

// Colours
$primary-color: #0068b1;
$secondary-color: #f7901a;
$ghost: #f4f4f4;
$vapor: #edf4fa;
$snow: #e9eaec;
$light-blue-color: #00b4fb;
$nav-dark-blue-color:#045a9b;
$dark-blue-color: #035689;
$cement-color: #e5e5e5;
$dark-grey-color: #999;
$base-font: 14px;
$orange-count-color: #f78f1d;
$dark-orange-color: #e56d00;
$light-gray-bg: #f7f7f7;
$evergreen-color: #7bad00;
$dark-green: #618400;
$water: #0096d6;

$nav-gradient-from: #1268B1;
$nav-gradient-to: #105FA2;

$inset-dark-shadow: 1px solid darken($cement-color, 10%);
$inset-light-shadow: 1px solid $white;


// for new ui/ux
$gull-gray: #9AB4BB;;
$teal-blue: #024456;
$tree-poppy: #F7901A;
$tundora: #424242;
$venice-blue: #06547F;
$iron: #D1D3D4;
$dodger-blue-color: #00B7FF;
$alto-color: #DBDBDB;
$gallery-color: #EAEAEA;
$silver-color : #bfbfbf;
$pistachio-color: #8ABE04;

// --------------------------
// Mixins
@mixin bg-size($value) {
    -webkit-background-size: $value;
    -moz-background-size: $value;
    -ms-background-size: $value;
    background-size: $value;
}

@mixin font-awesome-inline($value) {
    display: inline-block;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}


// Extends
.bar-shadow {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

@media (max-width: 64.0625em) {
    body, html{
        background-image: none;
    }
}

// Creates new Foundtation-based class to force full width on rows
.row.full-width {
    max-width: 100%;

    .row {
        &.full-width {
            margin-left: 0;
            margin-right: 0;
        }
        &:not(.full-width) {
            margin-left: auto;
            margin-right: auto;
            max-width: 78.57143rem;

            .row:not(.full-width) {
                margin: 0 -1.07143rem;
                max-width: none;
                width: auto;
            }
        }
    }


}


// --------------------------
//Components


// Hero
.hero {
    position: relative;
    display: block !important; // NOTE: this "!important" is need to stop the chat plugin from breaking the hero slider

    // Hero slider
    .hero-slider{
        overflow: hidden;
        width:100%;


        .slick-track{
            .slick-slide{
                @include bg-size(cover);
                background-position: center center;
                color: $white;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6{
                    color: $white;
                }
                min-height: 411px;
                .title{
                    color: $white;
                    padding-top: 26px;
                }
            }
        }
        .slick-dots{
            margin-top: -45px;
        }
    }
    .slick-dots{
      margin-top: -45px;
    }
	ol {
		$bullet-size: 38px;
		$bullet-margin: 20px;
		$bullet-shadow-color: rgba(0, 0, 0, 0.3);

		counter-reset: item;
		list-style-type: none;
		margin-left: 70px;

		li {
			@extend strong;

			display: block;
			font-size: 28px;
			line-height: 26px;
			margin: 0 0 30px 0;
			max-width: 350px;

			&:before {
				background-color: $secondary-color;
				border: 2px solid $white;
				border-radius: 50%;
				box-shadow: 4px 4px 8px $bullet-shadow-color;
				content: counter(item) "  ";
				counter-increment: item;
				display: inline-block;
				font-size: 20px;
				height: $bullet-size;
				line-height: 34px;
				margin: 0 $bullet-margin 0 (-($bullet-margin+$bullet-size));
				text-align: center;
				width: $bullet-size;
			}

			@media #{$small-only} {
				font-size: 22px;
				line-height: 22px;
			}
		}

	}

	.slick-slide .button {
		@extend strong;

		border: 2px solid $white;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
		font-size: 22px;
		line-height: 38px;
		min-height: 40px;
		border-radius: 6px;

		@media #{$small-only} {
			font-size: 18px;
			margin-top: 5px;
		}
	}

}


// body wrap
.main-wrapper {
    background-color: $white;

    .main-container {

        > .row {
            min-height: 420px;
            padding: 20px 0;
        }

        #admin_messages {
            margin: 0;
            padding: 0;
        }

    }
}

.overlay-expanded {
  overflow: hidden;
}


.product-tag{
    //background-color: $evergreen-color;
    border-radius: 0 20px 20px 0;
    color: $white;
    display: inline-block;
    font-size: 10px;
    padding: 5px 20px 5px 5px;
    text-transform: uppercase;
}

.related-product-slider{

    .slick-track{
        margin: 20px 0;
    }
}

// Home Feature
//.homepage-feature{
//  margin: 40px 0;
//
//  h3{
//    font-family: $font-family-sans-serif-bold;
//  }
//}

// Popular Products
//.popular-products{
//  h2{
//    font-family: $font-family-sans-serif-bold;
//  }
//}

// Promo Slider
.promo-slider {
    padding: 15px 0 25px 0;
    h3 {
        font-size: 21px;
        line-height: 24px;
        margin: 18px 0;
    }
}

// Featured Article
.featured-article,
.homepage-feature,
.popular-products{
    margin: 15px 0 25px 0;
    overflow: hidden;
    h2 {
        @extend strong;
        line-height: 1;
    }
    h3 {
        @extend strong;
        line-height: 1;
    }
}
.popular-products {
    overflow: visible;
}



// Sidebar
.sidebar {
	.filter,
  .accordion {
      margin: 0 0 8px;
  }
}

// Product Gallery
//.comp-product-list{
//  > div{
//    > .row{
//      @media #{$medium-up} {
//        border-radius: 5px;
//        margin: 20px 0 20px 15px;
//        border: 1px solid $primary-gray-border;
//        padding: 20px 0 40px;
//      }
//      @media #{$small-only} {
//        border-bottom: 1px solid $primary-gray-border;
//        padding: 20px 0 10px;
//        &:last-child{
//          border-bottom: 0;
//        }
//      }
//    }
//  }
//}

.product-badge{
    margin: 0 0 4px -27px;
    max-height: 34px;
}
.product-details{
    .product-badge{
        max-height: 34px;
    }
}
.product-slider-detail,
.products-grid {
	.product-badge{
		max-height: 24px;
	}
}
.products-grid .product-badge {
    margin: 0 0 5px 0;
}
.product-detail-page {
	.product-badge{
		max-height: 40px;

		@media #{$small-only} {
			max-height: 30px;
		}
	}
}
.products-list {
	.product-badge{
		max-height: 35px;

		@media #{$small-only} {
			max-height: 25px;
		}
	}
}

.dealer-logo{
  max-height: 50px;
  max-width: 170px;
  width: 100%;
}
// Sort is hidden for phase one. Please remove the display block below for phase two.
.sort-by{
  //display: none;
}

.product-sale-category {
  //background-color: $evergreen-color;
  border-radius: 0 20px 20px 0;
  color: $white;
  display: inline-block;
  height: 25px;
  line-height: 16px;
  margin-left: -28px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 20px 5px 10px;
  position: relative;
  text-transform: uppercase;

  &:before{
    border-bottom: 10px solid transparent;
    //border-right: 12px solid darken($evergreen-color, 10%);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 25px;
    width: 0;
  }
}

.detail-product-slider{
    .slick-active {
        .item-to-append {
            cursor: pointer;
            opacity: 0.6;
            @include transition(all, 0.15s, ease-in-out);
            &:hover {
                opacity: 1;
            }
            &.active {
                cursor: default;
                opacity: 1;
            }
        }
        &.active {
            img {
                &.item-to-append {
                    opacity:1;
                }
            }
        }
    }
}

// Product Details
.product-title {
    text-transform: uppercase;
}
.star-rating {
    margin: 20px 0 0;
    .fa-star {
        margin-right: 3px;
    }
    .full {
        color: $primary-color;
    }
    .empty {
        color: darken($cement-color, 10%);
    }
}
.review-links {
    margin: 0;
    .add-review {
        @extend a.attenuate;
    }
}
i + .review-links {
    margin: 0 0 0 10px;
}
.product-features {
    li {
        //    border-right: 1px solid darken($cement-color, 10%);
        margin: 25px 0 0;
        padding-bottom: 0;
        text-align: center;
        &:last-child {
            border-right: none;
        }
        p {
            color: $bitum;
            margin: 0;
            font-size: 9px;
            margin: 0 auto;
            line-height: 10px;
            max-width: 80px;
        }
    }
    .feature-bar {
        display: inline-block;
        height: 10px;
        width: 15px;
        &.full {
            background-color: darken($cement-color, 35%);
        }
        &.empty {
            background-color: darken($cement-color, 10%);
        }
    }
}
.product-text-description {
    margin: 25px 0 0;
}

.feature-rating{
    // disable for legal reasons
    display: none;
    i{
        color: $evergreen-color;
        margin: 0 2px
    }

    .empty{
        color: $primary-gray-border;
    }
}
@media only screen and (max-width: 64.063em) {
    .product-features {
        li {
            &:nth-of-type(3n+0){
                border-right: none;
            }
        }
    }
}

// Specifications
.specification-content,
.review-component {
    margin: 0 0 45px;
}

.specification-content {
    h3 {
        margin: 15px 0 7px;
    }
}

// Date picker

.ui-datepicker {
    z-index: 999;
}

//Related product slider
.related-product-slider{
    .item{
        margin: 0 15px;
    }
}

// Specifications
.specification-table {
    td {
        &:first-child {
            width: 25%;
        }
    }
}

.payment-method {
    .fa {
        margin: 0 15px 0 0;
    }
}
.checkout-success {
    padding: 20px 0;
}

// Shopping Cart
.shopping-cart-options {
  .form-field {
    background-color: $cement-color;
    padding: 15px;
    margin: 0 0 15px;

	.note {
		color: $monsoon;
		font-size: 12px;
	}
  }
}
// Store Locator component (not featured in the static website version)
@media only screen and (min-width: 40em) {
  #map-canvas,
  #store-locator-search,
  .storelocator-panel {
    height: 500px;
  }
  .storelocator-panel {
    overflow: auto;
  }
}
@media only screen and (max-width: 40em) {
  #map-canvas {
    height: 300px;
  }
}
.storelocator-panel {
    .store-list{
        margin: 0;
        padding: 0;
        li{
            cursor: pointer;
            margin: 15px 0;
            &:hover{
                .title{
                    text-decoration: underline;
                    &:before{
                        text-decoration: none;
                    }
                }
            }
            .title:before,
                .address:before,
                .hours:before{
                display: inline-block;
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                margin-right: 5px;
                text-decoration: inherit;
            }
            .title:before{
                content: "\f041";
            }
            .address:before{
                content: "\f124";
            }
            .hours:before{
                content: "\f017";
            }
        }
    }
    .store{
        .features{
            display: none;
        }
    }
    .feature-filter{
        overflow: hidden;
    }

}

.has-tip{
  border-bottom: none;
  font-weight: normal;

  i{
    color: $tooltip-icon-color;
    &:hover {
      color: $tooltip-icon-hover;
    }
  }
}

.page-title {
    @extend strong;
    color: $aqua-blue-color;
    font-size: 34px;
    line-height: 32px;
    margin-bottom: 25px;
    margin-top:18px;
}
div.page-title {
    // Stop using page title on divs
    margin: 0;
}

.line-through {
    color: $monsoon;
    display: block;
    font-family: $font-family-sans-serif-bold;
    font-size: $base-font-size + 2;
    margin: 5px 0;
    text-decoration: line-through;
}

// Error & Success messages
.messages {
  list-style-type: none;
  margin-left: 0;

  .success-msg, .error-msg {
    ul {
      list-style-type: none;
	     margin-left: 0;
    }
  }

  span {
	  @extend strong;
	  font-size: 16px;
  }
}
.show-page-notice .messages {
	display: none;
}



// Recaptcha error message working with abide component from foundation
#recaptcha-wrapper{
    #recaptcha-verification{
        height: 0;
        visibility: hidden;
        position: absolute;
    }
}

// HERO HOME - THIS IS SPECIFIC TO ONE SLIDE ONLY - to delete when the slide is not display anymore
li.number-box{
  background-color: $water;
  border-radius: 3px;
  display: inline-block;
  height: 34px;
  margin-right: 10px;
  text-align: center;
  width: 34px;
}


// fixes for Foundation 5.5.2
.inline-list {
    margin-left: -1.57143rem;
}


// sercure panels
.secure-lock-panel, .secure-includes-panel {
    color: $monsoon;
    font-size: 10px;
    line-height: 12px;
    margin: 8px 0;
    max-width: 330px;
    padding-left: 45px;
    position: relative;

    i {
        font-size: 27px;
        left: 7px;
        position: absolute;
        top: 0;
    }
}

.secure-payment-panel {
    margin: 4px 0;
    text-align: left;

    img {
        margin: 0 3px 8px 0;
        max-height: 35px;
        padding: 0;
    }
}

// alert boxes

.alert-box.success {
    background-color: $success-color;
    border-width: 0;
    color: $base-body-color;
    font-size: 16px;

    > i {
        color: $evergreen-color;
        font-size: 19px;
        padding-right: 6px;
    }
}


// full page loader
.page-loading-holder {
    background-color: rgba(255,255,255,0.9);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 999;

    div {
        color: $monsoon;
        font-size: 16px;
        height: 66px;
        margin-top: -33px;
        position: absolute;
        top: 50%;
        width: 100%;

        i {
            color: $oil;
            display: block;
            margin-bottom: 15px;
        }
    }

}

#inside_holder #inside_leaveMessageForm {


    @media screen and (max-height: 533px) {
        min-height: none;
        max-height: 280px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


.block-content {
    margin-bottom: 10px;
}

.responsive-table {
    overflow-x: auto;
}


.pager .pages {

    float: right;
    padding-top: 19px;
    font-size: rem-calc(12);

    .label-text {
        vertical-align: top;
    }

    ul.pagination {
        display: inline-block;
        vertical-align: top;
    }

    @media #{$small-only} {
        float: none;
        padding-top: 5px;
    }

}

.line-seperator-with-text {
    position: relative;
    text-align: center;
    margin: 10px 0;

    hr {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        width: 100%;
        z-index: 1;
    }

    span {
        background-color: #FFF;
        position: relative;
        z-index: 2;
        padding: 0 10px;
        font-size: rem-calc(12);
        color: $primary-gray-border;
    }
}


// sercure panels
.secure-lock-panel, .secure-includes-panel {
	color: $monsoon;
	font-size: 10px;
	line-height: 12px;
	margin: 8px 0;
	max-width: 330px;
	padding-left: 45px;
	position: relative;

	i {
		font-size: 27px;
		left: 7px;
		position: absolute;
		top: 0;
	}
}

.secure-payment-panel {
	margin: 4px 0;
	text-align: left;

	img {
		margin: 0 3px 8px 0;
		max-height: 35px;
		padding: 0;
	}
}

// alert boxes

.alert-box.success {
	background-color: $success-color;
	border-width: 0;
	color: $base-body-color;
	font-size: 16px;

	> i {
		color: $evergreen-color;
		font-size: 19px;
		padding-right: 6px;
	}
}


// full page loader
.page-loading-holder {
	background-color: rgba(255,255,255,0.9);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	z-index: 999;

	div {
		color: $monsoon;
		font-size: 16px;
		height: 66px;
		margin-top: -33px;
		position: absolute;
		top: 50%;
		width: 100%;

		i {
			color: $oil;
			display: block;
			margin-bottom: 15px;
		}
	}

}

#inside_holder #inside_leaveMessageForm {


	@media screen and (max-height: 533px) {
		min-height: none;
		max-height: 280px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

.block-content {
    margin-bottom: 10px;
}


.responsive-table {
    overflow-x: auto;
}


.pager .pages {

  float: right;
  padding-top: 19px;
  font-size: rem-calc(12);

  .label-text {
    vertical-align: top;
  }

  ul.pagination {
      display: inline-block;
      vertical-align: top;
  }

  @media #{$small-only} {
    float: none;
    padding-top: 5px;
  }

}

.line-seperator-with-text {
  position: relative;
  text-align: center;
  margin: 10px 0;

  hr {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    width: 100%;
    z-index: 1;
  }

  span {
    background-color: #FFF;
    position: relative;
    z-index: 2;
    padding: 0 10px;
    font-size: rem-calc(12);
    color: $primary-gray-border;
  }
}



/* HACK for Social Login Pro Plugins */
ul.pslogin-clearfix {
  margin: 0;

  li { margin: 0 5px 5px 0; }
}

@media #{$small-only} {
    .small-zero-guther {
        padding: 0;
    }
}


// Layouts
.flex-layout {
    display: flex;
}

.round {
    border-radius:5px !important;
}

.bg-white {
    background-color:white;
}
.color-secondary {
    color: $secondary-color;
}

.panel-secondary {
    border-color: $secondary-color;
    color: $secondary-color;
    h3 {
        color: $secondary-color;
    }
}

.table-invisible {
    border:none;
    background:none;
    td {
        background-color:white;
        padding:2px;
    }
}

.panel-height-200 {
    min-height:200px;
}

.table-order {
    border-spacing:0;
    border:2px solid #d8d8d8;
    thead {
        tr {
            th {
                padding:10px 15px;
                background-color: #f7f7f7;
            }
        }
        > tr:first-child {
            > th:first-child {
                border-top-left-radius:5px;
            }
            > th:last-child {
                border-top-right-radius:5px;
            }
        }
    }

    tbody {
        tr {
            td {
                padding:25px 15px;
                background-color: white;
                border-top:2px solid #d8d8d8;
            }
			@media #{$small-only} {
                td {
                    padding:25px 5px;
                }
            }
        }
        > tr:last-child {
            > td:first-child {
                border-bottom-left-radius:5px;
            }
            > td:last-child {
                border-bottom-right-radius:5px;
            }
        }
    }
}


small.error,
span.error {
    &.hide { display: none; }
}