<?xml version="1.0"?>
<config>
  <modules>
    <ApdInteract_Pdf>
      <version>0.1.0</version>
    </ApdInteract_Pdf>
  </modules>
  <frontend>
    <routers>
      <pdf>
        <use>standard</use>
          <args>
            <module>ApdInteract_Pdf</module>
            <frontName>pdf</frontName>
          </args>
      </pdf>
    </routers>
		<layout>
		  <updates>
			<pdf>
			  <file>pdf.xml</file>
			</pdf>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <apdinteract_pdf>
        <class>ApdInteract_Pdf_Helper</class>
      </apdinteract_pdf>
    </helpers>
	<blocks>
	  <pdf>
		<class>ApdInteract_Pdf_Block</class>
	  </pdf>
	</blocks>
      <models>
          <apdinteract_pdf>
              <class>ApdInteract_Pdf_Model</class>
          </apdinteract_pdf>
      </models>
  </global>
</config> 