<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <ApdInteract_Sitemap>
      <version>0.1.0</version>
    </ApdInteract_Sitemap>
  </modules>
  <global>
    <helpers>
      <apdinteract_sitemap>
        <class>ApdInteract_Sitemap_Helper</class>
      </apdinteract_sitemap>
    </helpers>
    <models>
      <sitemap>
         <rewrite>
            <sitemap>ApdInteract_Sitemap_Model_Sitemap</sitemap>
         </rewrite>
         <class>ApdInteract_Sitemap_Model</class>
         <resourceModel>apd_sitemap_resource</resourceModel>
      </sitemap>
      		<apd_sitemap_resource>
      			<class>ApdInteract_Sitemap_Model_Resource</class>
	      			<entities>
	                    <sitemap>
	                        <table>sitemap</table>
	                    </sitemap>
	                </entities>
			</apd_sitemap_resource>  
    </models>
  </global>
  <default>
        <sitemap>
            <homepage>
                <priority>1</priority>
                <changefreq>daily</changefreq>
            </homepage>
            <subcategories>
                <priority>0.7</priority>
                <changefreq>daily</changefreq>
            </subcategories>
            <storelocator>
                <priority>1</priority>
                <changefreq>daily</changefreq>
            </storelocator>
            <storelocatordetails>
                <priority>1</priority>
                <changefreq>daily</changefreq>
            </storelocatordetails>
        </sitemap>
  </default>
</config>