<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <ApdInteract_Geopostcode>
      <version>0.0.1</version>
    </ApdInteract_Geopostcode>
  </modules>
  <global>
    <helpers>
      <apdinteract_geopostcode>
        <class>ApdInteract_Geopostcode_Helper</class>
      </apdinteract_geopostcode>
    </helpers>
    <models>
      <apdinteract_geopostcode>
        <class>ApdInteract_Geopostcode_Model</class>
        <resourceModel>apdinteract_geopostcode_resource</resourceModel>
      </apdinteract_geopostcode>
      <apdinteract_geopostcode_resource>
        <class>ApdInteract_Geopostcode_Model_Resource</class>
        <entities>
          <geopostcode>
            <table>apd_geo_postcode</table>
          </geopostcode>
        </entities>
      </apdinteract_geopostcode_resource>
    </models>
    <resources>
      <apdinteract_geopostcode_setup>
        <setup>
          <module>ApdInteract_Geopostcode</module>
          <class>Mage_Catalog_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </apdinteract_geopostcode_setup>
    </resources>
  </global>
  <frontend>
    <routers>
      <apdinteract_geopostcode>
        <use>standard</use>
        <args>
          <module>ApdInteract_Geopostcode</module>
          <frontName>geo</frontName>
        </args>
      </apdinteract_geopostcode>
    </routers>
  </frontend>
</config>