<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_Costar>
            <version>0.1.4</version>
        </ApdInteract_Costar>
    </modules>
    <admin>
        <routers>
            <costar>
                <use>admin</use>
                <args>
                    <module>ApdInteract_Costar</module>
                    <frontName>admin_costar</frontName>
                </args>
            </costar>
        </routers>
    </admin>
    <adminhtml>
         <layout>
            <updates>
                <costar>
                    <file>costar.xml</file>
                </costar>
            </updates>
        </layout>                
    </adminhtml>
    <global>
        <models>
            <apdinteract_costar>
                <class>ApdInteract_Costar_Model</class>     
                <resourceModel>apdinteract_costar_resource</resourceModel>           
            </apdinteract_costar> 
            <apdinteract_costar_resource>
                <class>ApdInteract_Costar_Model_Resource</class>
                <entities>
                    <costar>
                        <table>apd_stock_store_product</table>                        
                    </costar>
                    <log>
                        <table>apdinteract_import_history</table>                        
                    </log>
                </entities>
            </apdinteract_costar_resource>                        
        </models>
        <resources>
            <apdinteract_costar_setup>
                <setup>
                    <module>ApdInteract_Costar</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_costar_setup>            
        </resources>
        <helpers>
            <costar>
                <class>ApdInteract_Costar_Helper</class>
            </costar>
        </helpers>
        <blocks>
            <costar>
                <class>ApdInteract_Costar_Block</class>
            </costar>
        </blocks>
        <!--events>
            <sales_order_place_after>
                <observers>
                    <costar_sales_order_submit>
                        <type>singleton</type>
                        <class>apdinteract_costar/sales_order_observer</class>
                        <method>sendOrderToCostar</method>
                    </costar_sales_order_submit>
                </observers>
            </sales_order_place_after>
        </events-->
    </global>   
    <crontab>
        <jobs>
            <apdinteract_stock_update_hourly>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>apdinteract_costar/observer::importStockFromCostar</model>
                    <duration>Hourly</duration>
                </run>
            </apdinteract_stock_update_hourly>
            <apdinteract_stock_update_daily>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>apdinteract_costar/observer::importStockFromCostar</model>
                    <duration>Daily</duration>
                </run>
            </apdinteract_stock_update_daily>
            <apdinteract_costar_sales_order>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>apdinteract_costar/observer::sendOrderToCostar</model>
                    <duration>EveryFiveMinutes</duration>
                </run>
            </apdinteract_costar_sales_order>
            <apdinteract_costar_api_monitoring>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>apdinteract_costar/observer::pingCostarApi</model>
                    <duration>EveryOneMinutes</duration>
                </run>
            </apdinteract_costar_api_monitoring>
        </jobs>        
    </crontab>
    <frontend>
        <routers>
            <costar>
                <use>standard</use>
                <args>
                    <module>ApdInteract_Costar</module>
                    <frontName>costar</frontName>
                </args>
            </costar>
        </routers>
    </frontend>
    <default>
        <apdinteract_costar>
            <apdinteract_costar_discount_code>
                <material_code>DI_0083016</material_code>
            </apdinteract_costar_discount_code>
        </apdinteract_costar>
    </default>
</config> 