<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_Onsale>
            <version>1.0.0</version>
        </ApdInteract_Onsale>
    </modules>
    <global>
        <models>
            <apdinteract_onsale>
                <class>ApdInteract_Onsale_Model</class>
            </apdinteract_onsale>
        </models>
        <blocks>
            <apdinteract_onsale>
                <class>ApdInteract_Onsale_Block</class>
            </apdinteract_onsale>
        </blocks>
        <helpers>
            <apdinteract_onsale>
                <class>ApdInteract_Onsale_Helper</class>
            </apdinteract_onsale>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <apdinteract_onsale>
                        <class>ApdInteract_Onsale_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </apdinteract_onsale>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers> <!-- declare a router -->
            <onsale>
                <use>standard</use>
                <args>
                    <module>ApdInteract_Onsale</module>
                    <frontName>onsale</frontName>
                </args>
            </onsale>
        </routers>
        <layout>
            <updates>
                <apdinteract_onsale>
                    <file>apdinteract_onsale.xml</file>
                </apdinteract_onsale>
            </updates>
        </layout>
    </frontend>
</config>