<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ApdInteract_Bft>
            <version>0.5.0</version>
        </ApdInteract_Bft> 
    </modules>
    <global>        
        <helpers>
            <apdinteract_bft>
                <class>ApdInteract_Bft_Helper</class>
            </apdinteract_bft>
        </helpers>
        <resources>
            <apdinteract_bft_setup>
                <setup>
                    <module>ApdInteract_Bft</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_bft_setup>
        </resources>
    </global>
</config>