<section class="main">
    <div class="row">
    <div class="column large-7">
        <div class="banner">
            <div class="text">
                <h2>4 quality tyres fitted from $399.</h2>
                <p class="title">Hurry, these deals end 24 June 2017.</p>
                <p class="support-title">*See below for Terms and conditions</p>
            </div>

            <div class="center-element">
                <img src="../assets/images/campaign/battery.png" class="desktop" alt="4 quality tyres" />
                <img src="../assets/images/campaign/battery.png" class="mobile" alt="4 quality tyres" />
                <img src="../assets/images/campaign/dunlop-goodyear-logo-small.png" class="mobile" alt="Dunlop and Goodyear Logo" />
                <a class="button store-locator-btn desktop" data-nearest-store-btn>Locate Nearest Store</a>
            </div>
        </div>
    </div>
    <div class="column large-5">
        <form action="/campaign/easter/index" method="post" data-abide="" novalidate="novalidate" data-get-instant-quote-form>
            <div class="title-container">
                <p>Call us on <span class="highlight">1800 316 398</span></p>
                <p class="seperator">or</p>
                <p class="support-text">Complete your details below and we'll get back to you within 24 hours guaranteed.</p>
            </div>

            <div class="field">
                <span class="icon icon-small-user"></span>
                <input type="text" placeholder="NAME *"  required="" pattern="^[a-zA-Z\s]*$" data-invalid="" aria-invalid="true"/>
                <small class="error">This is a required field. Please use letters only (a-z or A-Z) in this field. </small>
            </div>
            <div class="field">
                <span class="icon icon-small-envelope"></span>
                <input type="email" value="" name="email" placeholder="EMAIL *" required="" data-invalid="" aria-invalid="true">
                <small class="error">This is a required field - Please enter a valid email address</small>
            </div>
            <div class="field">
                <span class="icon icon-small-phone"></span>
                <input type="text" value="" name="mobile" placeholder="PHONE NO *" required="" pattern="[0-9]+" data-invalid="" aria-invalid="true">
                <small class="error">This is a required field. Please enter valid Phone.</small>
            </div>
            <div class="field post-field">
                <span class="icon icon-small-map-marker"></span>
                <input type="text" value="" name="postcode_fake" id="booking-store" class="store-finder render-finder ui-autocomplete-input" placeholder="SUBURB/POSTCODE *" autocomplete="off" aria-invalid="false">
                <input type="text" name="cartaddress-id" class="store-finder-id hidden-input" required="">
                <small class="error">Please enter valid postcode</small>
                <div class="load-indicator"><i class="fa fa-refresh fa-spin"></i></div>
            </div>
            <div class="field">
                <span class="icon icon-small-car"></span>
                <input type="text" value="" name="vehicle_make" placeholder="VEHICLE MAKE *" pattern="vehicle_make" required="" data-invalid="" aria-invalid="true">
                <small class="error">This is a required field.</small>
            </div>
            <div class="field">
                <span class="icon icon-small-car"></span>
                <input type="text" value="" name="vehicle_model" placeholder="VEHICLE MODEL *" pattern="vehicle_model" required="" data-invalid="" aria-invalid="true">
                <small class="error">This is a required field.</small>
            </div>

            <p class="desc">Enter tyre size for faster turnaround times and accuracy of quote. <a href="#">It’s super easy!</a></p>

            <div class="field">
                <span class="icon icon-small-tyre"></span>
                <input type="text" placeholder="TYRE SIZE (OPTIONAL)" />
            </div>

            <div class="button-image-container">
                <img src="../assets/images/campaign/half-tyre.jpg" alt="tyre"/>
                <button type="submit" class="button large">GET INSTANT QUOTE</button>
            </div>
        </form>

        <!-- removed for mobile <a class="button store-locator-btn mobile">Locate Nearest Store</a> -->
    </div>
    </div>
</section>
