<section class="features">
    <div class="row">
        <div class="columns">
            <ul class="three-features">
                <!--<li>
                    <div class="feature">
                        <span class="icon icon-60-min"></span>
                        <p class="label-text">60 minute tyre fit guarantee</p>
                    </div>
                </li>-->
                <li>
                    <div class="feature">
                        <span class="panel-icon icon-map"></span>
                        <p class="label-text">Over 230 stores Australia wide</p>
                    </div>
                </li>
                <li></li>
                <li>
                    <div class="feature">
                        <span class="panel-icon icon-user-expert"></span>
                        <p class="label-text">Expert advice on the best battery for your vehicle</p>
                    </div>
                </li>
                <li>
                    <div class="feature">
                        <span class="panel-icon icon-environment"></span>
                        <p class="label-text">Promoting environmental sustainability</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="process">
    <div class="row">
        <div class="columns">
            <h2>HOW IT WORKS</h2>

            <div class="process-container">
                <ul>
                    <li>
                        <div class="circle-container">
                            <div class="circle-padding">
                                <div class="circle">
                                    <span class="icon icon-blue-phone"></span>
                                </div>
                            </div>
                        </div>
                        <article>
                            <h3>Contact Us</h3>
                            <p>Call us on 1800 941 201 or complete the form to speak with one of our friendly experts. We will identify the best tyres for your vehicle, book in your tyre fitting, and guide you to your nearest Beaurepaires store.</p>
                        </article>
                    </li>
                    <li>
                        <div class="circle-container">
                            <div class="circle-padding">
                                <div class="circle">
                                    <span class="icon icon-blue-store-locator2"></span>
                                </div>
                            </div>
                        </div>
                        <article>
                            <h3>Visit Nearest Store</h3>
                            <p>With over 230+ stores nationally, your nearest Beaurepaires store is just around the corner. Our in-store experts pride themselves on delivering the best advice and superior service. Click here to find your nearest store.</p>
                        </article>
                    </li>
                    <li>
                        <div class="circle-container">
                            <div class="circle-padding">
                                <div class="circle">
                                    <span class="icon icon-blue-battery"></span>
                                </div>
                            </div>
                        </div>
                        <article>
                            <h3>60 minute TYRE Fit GUArantee</h3>
                            <p>Sit back and relax with a coffee in our Customer Lounge while our experts install your new tyres in under 60 minutes guaranteed! And that’s how it works!</p>
                        </article>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="btn-link mobile">
        <a class="button large" data-get-instant-quote-btn>Get Instant Quote</a>
    </div>
</section>


<section class="we-care battery">
    <div class="row">
        <div class="columns large-4">
            <div class="box-img desktop">
                <img src="../assets/images/campaign/tyres.png" alt="tyres" />
            </div>
        </div>
        <div class="columns large-8">
            <article>
                <h2>Who cares? Beaurepaires </h2>
                <h3>We care about:</h3>
                <ul>
                    <li><img src="../assets/images/campaign/wheel-icon.png" alt="tyres" /> Your tyres</li>
                    <li><img src="../assets/images/campaign/wheel-icon.png" alt="tyres" /> Your convenience & time</li>
                    <li><img src="../assets/images/campaign/small-battery.png" alt="battery" /> Your hip pocket</li>
                    <li><img src="../assets/images/campaign/small-battery.png" alt="battery" /> Our environment</li>
                </ul>
            </article>
        </div>
    </div>
</section>



<section class="deliver">
    <div class="row">
        <div class="columns">
            <article>
                <div>
                    <h2>We promise to deliver</h2>

                    <ul>
                        <li>
                            <div class="icon-container">
                                <span class="icon icon-orange-60-min"></span>
                            </div>
                            60 minute tyre fit guaranteed
                        </li>
                        <li>
                            <div class="icon-container">
                                <span class="icon icon-orange-user"></span>
                            </div>
                            Professional and expert advice
                        </li>
                        <li>
                            <div class="icon-container">
                                <span class="icon icon-orange-hands"></span>
                            </div>
                            Friendly customer service with a smile
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>

    <div class="box-img">
        <img src="../assets/images/campaign/man.jpg" alt="man" />
    </div>
</section>


<section class="testimonials">
    <div class="row">
        <div class="columns">
            <h2>Here's What Our Customers Say About Beaurepaires...</h2>

            <div class="slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
                <div class="slide">
                    <article>
                        <p><span class="icon icon-left-quote"></span> I was due for a tyre rotation & wheel alignment when our car was held over at the dealership for warranty repairs. At short notice, I had to cancel my booking & arrange to reschedule on a future date. Again with short notice, not long before closing on a Friday, I was able to get the work done without any drama. <span class="icon icon-right-quote"></span></p>
                        <h4>- RodH, Junee</h4>
                    </article>
                </div>
                <div class="slide">
                    <article>
                        <p><span class="icon icon-left-quote"></span> I was due for a tyre rotation & wheel alignment when our car was held over at the dealership for warranty repairs. At short notice, I had to cancel my booking & arrange to reschedule on a future date. Again with short notice, not long before closing on a Friday, I was able to get the work done without any drama. <span class="icon icon-right-quote"></span></p>
                        <h4>- RodH, Junee</h4>
                    </article>
                </div>
            </div>

            <a href="#" class="terms">Terms and Conditions</a>
        </div>
    </div>
</section>


<section class="who-cares">
    <div class="row">
        <div class="columns">
            <h2>Who cares?</h2>
            <img src="/static/img/bearepaires.95d77e0.png" alt="Beaurepaires Logo" />

            <div class="btn-link">
                <a class="button large" data-get-instant-quote-btn>Get Instant Quote</a>
            </div>
        </div>
    </div>
</section>
