
<section class="home-top-features hide-for-medium-down">

  <!-- Static block start -->
  <div class="row hide-for-medium-down">
    <div class="columns large-4 text-center">
      <span class="features-icon features-icon-advice"></span> Expert Advice
    </div>
    <div class="columns large-4 text-center">
      <span class="features-icon features-icon-minutes"></span> Tyres Fit in 60 Minutes
    </div>
    <div class="columns large-4 text-center">
      <span class="features-icon features-icon-australia"></span> 230 Stores Australia Wide
    </div>
  </div>
  <!-- Static block end -->

</section>

<section class="home-static-landing">
  <div>

    <!-- Static block start -->
    <h2>
      Welcome to Beaurepaires<br>
      Online Shopping
    </h2>

    <p>
      What can we help you with today?
    </p>

    <div>
      <select>
        <option>Please Select...</option>
        <option value="/home.html">Link One</option>
        <option value="/index.html">Link Two</option>
        <option value="/home.html">Link Three</option>
        <option value="/index.html">Link Four</option>
      </select>
      <button class="radius button">Go</button>
    </div>
    <!-- Static block end -->

  </div>
</section>

<section class="how-it-works-static hide-for-medium-down">
  <h2>How it works</h2>

  <div class="row">
    <div class="columns medium-4 text-center">
      <div class="vector-icons icon-home-browse" aria-hidden="true"></div>
      <h3>Browse</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="columns medium-4 text-center">
      <div class="vector-icons icon-home-purchase" aria-hidden="true"></div>
      <h3>Purchase</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="columns medium-4 text-center">
      <div class="vector-icons icon-home-fit" aria-hidden="true"></div>
      <h3>Fit Instore</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</section>

<section class="home-promo-bars-static">
  <ul>
    <!-- start loop through static blocks -->
    <li>
      <!-- static block 1 start -->
      <h2>To see wheels that fit on your car, use our specialist wheel selector tool.</h2>
      <a href="test1.html">Wheel Selector</a>
      <img src="http://via.placeholder.com/1920x1123">
      <!-- static block 1 end -->
    </li>
    <!-- end loop through static blocks -->
  </ul>
</section>

<section class="home-testimonials">
    <div class="testimonials-slider">

      <div class="slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
          <div class="slide">
            <article>
                <p><i class="fa fa-quote-left" aria-hidden="true"></i>I always buy my tyres here. They give good advice and are always willing to give a hand, at least my local beaurepaires at gordon. I will always go there to buy my tyres and have them fitted. It's the only thing I can't do on my car by myself.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                <h4>- Vince Black, Gordon, Sydney</h4>
            </article>
          </div>
          <div class="slide">
            <article>
                <p><i class="fa fa-quote-left" aria-hidden="true"></i>I was due for a tyre rotation &amp; wheel alignment when our car was held over at the dealership for warranty repairs. At short notice, I had to cancel my booking & arrange to reschedule on a future date. Again with short notice, not long before closing on a Friday, I was able to get the work done without any drama. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                <h4>- Rod H, Junee</h4>
            </article>
          </div>
          <div class="slide">
            <article>
                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Took a wheel in to get a puncture fixed in Midland Perth. Not only did they fix it straight away they wouldn't take any money for it. That hasn't happened to me in years. Great job guys. You will definitely get my future business. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                <h4>- Coops, Perth</h4>
            </article>
          </div>
      </div>

    </div>
</section>
