<?xml version="1.0"?>
<config>    
    <modules>
        <ApdInteract_Campaign>
            <version>0.11.0</version>
        </ApdInteract_Campaign>
    </modules>
    <global>
        <helpers>
            <campaign>
                <class>ApdInteract_Campaign_Helper</class>
            </campaign>
        </helpers>
        <blocks>
            <campaign>
                <class>ApdInteract_Campaign_Block</class>
            </campaign>
        </blocks>
        <models>
            <campaign>
                <class>ApdInteract_Campaign_Model</class>
                <resourceModel>campaign_mysql4</resourceModel>
            </campaign>
            <campaign_mysql4>
                <class>ApdInteract_Campaign_Model_Mysql4</class>
                <entities>		  
                    <campaign>
                        <table>apdinteract_campaign</table>
                    </campaign>
                    <setup>
                        <table>apdinteract_campaign_setup</table>
                    </setup>
                </entities>
            </campaign_mysql4>
        </models>
        <resources>
            <campaign_setup>
                <setup>
                    <module>ApdInteract_Campaign</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </campaign_setup>
            <campaign_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </campaign_write>
            <campaign_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </campaign_read>
        </resources>
    </global>
    <default>
        <campaign>
            <easter_campaign>
                <campaign_url>/thankyou</campaign_url>
            </easter_campaign>
            <tyresfrom399_campaign>
                <campaign_url>/thankyou</campaign_url>
            </tyresfrom399_campaign>
        </campaign>
    </default>
    <frontend>
        <routers>
            <campaign>
                <use>standard</use>
                <args>
                    <module>ApdInteract_Campaign</module>
                    <frontName>campaign</frontName>
                </args>
            </campaign>
        </routers>
        <layout>
            <updates>
                <campaign>
                    <file>campaign.xml</file>
                </campaign>
            </updates>
        </layout>
  </frontend>
    <admin>
        <routers>
            <campaign>
                <use>admin</use>
                <args>
                    <module>ApdInteract_Campaign</module>
                    <frontName>admin_campaign</frontName>
                </args>
            </campaign>
        </routers>
    </admin>
    <adminhtml>        
        <layout>
            <updates>
                <campaign>
                    <file>campaign.xml</file>
                </campaign>
            </updates>
        </layout>
    </adminhtml>
</config> 