<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <ApdInteract_Requestprice>
      <version>0.2.0</version>
    </ApdInteract_Requestprice>
  </modules>
  <global>
  	<blocks>
      <apdinteract_requestprice>
        <class>ApdInteract_Requestprice_Block</class>
      </apdinteract_requestprice>
    </blocks>
    <helpers>
      <apdinteract_requestprice>
        <class>ApdInteract_Requestprice_Helper</class>
      </apdinteract_requestprice>
    </helpers>
    <models>
      <apdinteract_requestprice>
        <class>ApdInteract_Requestprice_Model</class>
      </apdinteract_requestprice>
        <sales>
            <rewrite>
                <order>ApdInteract_Requestprice_Model_Sales_Order</order>
            </rewrite>
        </sales>
    </models>
    <resources>
            <apdinteract_requestprice_setup>
                <setup>
                    <module>ApdInteract_Requestprice</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_requestprice_setup>
    </resources>
  </global>
  <frontend>
        <routers>
            <requestprice>
                <use>standard</use>
                <args>
                    <module>ApdInteract_Requestprice</module>
                    <frontName>requestprice</frontName>
                </args>
            </requestprice>
        </routers>
        <layout>
            <updates>
                <requestprice>
                    <file>requestprice.xml</file>
                </requestprice>
            </updates>
        </layout>
  </frontend>
  <default>
        <booking_date>
            <date>
                <tyres>4</tyres>
                <wheels>6</wheels>
                <batteries>6</batteries>
            </date>
        </booking_date>
  </default>
</config>