<?xml version="1.0"?>
<config>
    <sections>
        <booking_date translate="label" module="apdinteract_requestprice">
            <label>Booking/ Request Price Settings</label>
            <tab>social_media</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2400</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <date translate="label">
                    <label>Minimum Date</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tyres translate="label">
                            <label>Tyres</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </tyres>
                        
                        <wheels translate="label">
                            <label>Wheels</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </wheels>
                        
                        <batteries translate="label">
                            <label>Batteries</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </batteries>
                        <easter translate="label">
                            <label>Product ID of easter campaign</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </easter>
                        <tyresfrom399 translate="label">
                            <label>Product ID of 'Tyres From 399' campaign</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </tyresfrom399>
                        <batoffer translate="label">
                            <label>Product ID of 'Batteries Offer' campaign</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </batoffer>
                    </fields>
                </date>
            </groups>
        </booking_date>
    </sections>
</config>
