<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_Pickupinstore>
            <version>0.1.0</version>
        </ApdInteract_Pickupinstore>
    </modules>
    <frontend>
        <routers>
            <pickupinstore>
                <use>standard</use>
                <args>
                    <module>ApdInteract_Pickupinstore</module>
                    <frontName>pickupinstore</frontName>
                </args>
            </pickupinstore>
        </routers>
        <layout>
            <updates>
                <pickupinstore>
                    <file>pickupinstore.xml</file>
                </pickupinstore>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <pickupinstore>
                <class>ApdInteract_Pickupinstore_Helper</class>
            </pickupinstore>
        </helpers>
        <blocks>
            <pickupinstore>
                <class>ApdInteract_Pickupinstore_Block</class>
            </pickupinstore>
        </blocks>
    </global>
</config>