<section class="best-value">
    <a href="https://www.beaurepaires.com.au/terms-conditions" class="terms">^Terms and Conditions Apply</a>
    <div class="row">
        <div class="column">
            <div class="flex-row">
                <div class="flex-col-50 img-alignment">
                    <img src="../assets/images/best-value.png" class="logo" alt="Best Value">
                </div>
                <div class="flex-col-50">
                    <p>If you find a lower price, we'll match it.^<br>
    Available in-store or via Call Centre<br> 9-5 (Mon-Fri)</p>
                    <div class="cta-wrapper">
                        <a href="tel: 1800185099" class="cta">Call 1800 185 099</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>