<section class="deliver">
    <div class="row">
        <div class="columns">
            <article>
                <div>
                    <h2>We promise to deliver</h2>

                    <ul>
                        <li>
                            <div class="icon-container">
                                <span class="icon icon-orange-60-min"></span>
                            </div>
                            60 minute tyre fit guaranteed
                        </li>
                        <li>
                            <div class="icon-container">
                                <span class="icon icon-orange-user"></span>
                            </div>
                            Professional and expert advice
                        </li>
                        <li>
                            <div class="icon-container">
                                <span class="icon icon-orange-hands"></span>
                            </div>
                            Friendly customer service with a smile
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>

    <div class="box-img">
        <img src="../assets/images/man.jpg" alt="" />
    </div>
</section>
