<config>
  <modules>
    <ApdInteract_SalesRule>
      <version>0.1.0</version>
    </ApdInteract_SalesRule>
  </modules>
    <global>
	    <models>
	        <salesrule>
            	<rewrite>
            		<validator>ApdInteract_SalesRule_Model_Validator</validator>
            	</rewrite>
            </salesrule>
            <sales>
            	<rewrite>
            		<quote>ApdInteract_SalesRule_Model_Quote</quote>
            	</rewrite>
            </sales>
	      <apdinteract_salesrule>
	        <class>ApdInteract_SalesRule_Model</class>
	      </apdinteract_salesrule>
	    </models>
	    <helpers>
	      <apdinteract_salesrule>
	        <class>ApdInteract_SalesRule_Helper</class>
	      </apdinteract_salesrule>
	    </helpers>
	     <events>
		    <controller_action_postdispatch>
		        <observers>
		            <apdinteract_controller_action_postdispatch>
		                <type>model</type> 
		                <class>ApdInteract_SalesRule_Model_Observer</class>
		                <method>addcart</method>
		            </apdinteract_controller_action_postdispatch>
		        </observers>
		    </controller_action_postdispatch>
	     </events>
    </global>
</config>