<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_Storecategory>
            <version>0.2.0</version>
        </ApdInteract_Storecategory>
    </modules>
    <global>
        <helpers>
            <storecategory>
                <class>ApdInteract_Storecategory_Helper</class>
            </storecategory>
        </helpers>
        <blocks>
            <storecategory>
                <class>ApdInteract_Storecategory_Block</class>
            </storecategory>
        </blocks>
        <models>
            <storecategory>
                <class>ApdInteract_Storecategory_Model</class>
                <resourceModel>storecategory_mysql4</resourceModel>
            </storecategory>
            <storecategory_mysql4>
                <class>ApdInteract_Storecategory_Model_Mysql4</class>
                <entities>		  
                    <storecategory>
                        <table>apdinteract_store_category</table>
                    </storecategory>
                </entities>
            </storecategory_mysql4>
        </models>
        <resources>
            <storecategory_setup>
                <setup>
                    <module>ApdInteract_Storecategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storecategory_setup>
            <storecategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storecategory_write>
            <storecategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storecategory_read>
        </resources>
    </global>
    <admin>
        <routers>
            <storecategory>
                <use>admin</use>
                <args>
                    <module>ApdInteract_Storecategory</module>
                    <frontName>admin_storecategory</frontName>
                </args>
            </storecategory>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storecategory>
                    <file>storecategory.xml</file>
                </storecategory>
            </updates>
        </layout>
    </adminhtml>
</config> 