<config>
    <modules>
        <ApdInteract_Contacts>
            <version>1.0.0</version>
        </ApdInteract_Contacts>
    </modules>
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <ApdInteract_Contacts before="Mage_Contacts">ApdInteract_Contacts</ApdInteract_Contacts>
                    </modules>
                </args>
            </contacts>
        </routers>
    </frontend>
    <global>
         <helpers>
            <apdinteract_contacts>
                <class>ApdInteract_Contacts_Helper</class>
            </apdinteract_contacts>
        </helpers>
    </global>
    <default>
        <trans_email>
            <feedbackgroup>
                <feedback_name>Feedback</feedback_name>
                <feedback_email>beaurepaires@beaurepaires.com.au</feedback_email>
            </feedbackgroup>
            <productgroup>
                <product_name>Product</product_name>
                <product_email>onlinesales@beaurepaires.com.au</product_email>
            </productgroup>
            <servicesgroup>
                <services_name>Services</services_name>
                <services_email>onlinesales@beaurepaires.com.au</services_email>
            </servicesgroup>
            <bookingsgroup>
                <bookings_name>Bookings</bookings_name>
                <bookings_email>onlinesales@beaurepaires.com.au</bookings_email>
            </bookingsgroup>
            <websitegroup>
                <website_name>Website</website_name>
                <website_email>beaurepaires@beaurepaires.com.au</website_email>
            </websitegroup>
            <ordersgroup>
                <orders_name>Orders</orders_name>
                <orders_email>onlinesales@beaurepaires.com.au</orders_email>
            </ordersgroup>
            <generalgroup>
                <general_name>Others</general_name>
                <general_email>beaurepaires@beaurepaires.com.au</general_email>
            </generalgroup>
        </trans_email>
    </default>
</config>
