<div class="promo-bar hide-for-small">
  <div class="row full-width">
    <div class="small-8 columns">

      <ul class="location-options inline-list">

        <li class="location find-location">
          <i class="fa fa-location-arrow"></i> <span class="store" data-default_store_id="1" data-store_id="1"></span>
          <a class="link" href="/store-locator/">Find the Nearest Store</a>
        </li>

        <li class="store-locator-link">
          <a href="#" title="Store Locator"><i class="fa fa-map-marker fa-lg fa-fw" aria-hidden="true"><span class="show-for-sr">Store Locator</span></i>Store Locator</a>
        </li>

      </ul>

    </div>
    <div class="small-4 columns text-right">

      <div class="promo-number">
        <strong>Need Help?</strong> <a href="tel:1800 185 099"><i class="fa fa-phone" aria-hidden="true"></i> 1800 185 099</a>
      </div>

    </div>
  </div>
</div>
