// Quick Finder

// Variables
// $aqua-blue-color: #0067b1;
// $mandarin-color: #f78f1d;
$aqua-blue-color: $colour-denim;
$mandarin-color: #F0F;

// Mixins
@mixin radius-tabs($radius){
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin radius-tabs-inverted($radius){
	-webkit-border-bottom-right-radius: $radius;
-webkit-border-bottom-left-radius: $radius;
-moz-border-radius-bottomright: $radius;
-moz-border-radius-bottomleft: $radius;
border-bottom-right-radius: $radius;
border-bottom-left-radius: $radius;
}

@mixin panel-radius($radius){
	-webkit-border-radius: $radius;
-webkit-border-top-left-radius: 0;
-moz-border-radius: $radius;
-moz-border-radius-topleft: 0;
border-radius: $radius;
border-top-left-radius: 0;
}

@mixin tabs-shadow($vertical, $opacity){
	-webkit-box-shadow: 0px $vertical 6px 0px rgba(0,0,0,$opacity);
	-moz-box-shadow: 0px $vertical 6px 0px rgba(0,0,0,$opacity);
	box-shadow: 0px $vertical 6px 0px rgba(0,0,0,$opacity);
}

@mixin panel-shadow($vertical){
	-webkit-box-shadow: 0px $vertical 9px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px $vertical 9px 0px rgba(0,0,0,0.1);
	box-shadow: 0px $vertical 9px 0px rgba(0,0,0,0.1);
}

.quick-finder {
	$colour-outter-bg: $colour-congressblue;
	$colour-tab-bg: $colour-white;
	$colour-active-icon: $colour-schoolbusyellow;
	$colour-active-text: $colour-congressblue;
	$colour-select-active-text: $colour-congressblue;
	$colour-select-active-bg: $colour-schoolbusyellow;
	$colour-select-disable-text: $colour-white;
	$colour-select-disable-bg: #D1D3D4;

	margin-top: 1.42857rem;

	.tabs {
		position: relative;
		z-index: 1;

		.tab-title {
			height: 34px;
			margin: 0 10px 0 0;
			overflow: hidden;
			@include radius-tabs(4px);
			@include tabs-shadow(0px, 0.15);

			&.active {
				a {
					background: $colour-outter-bg;
					color: $white;
					text-decoration: none;
				}
				i {
					color: $colour-active-icon;
				}
			}
			a {
				background: $colour-tab-bg;
				color: $colour-outter-bg;
				font-family: $font-family-fe-sinclair;
				font-size: 15px;
				line-height: 34px;
				padding: 2px 15px 0 15px;
				text-transform: uppercase;

			}
			i {
				&.fa {
					font-size: $base-font-size + 3;
					margin: 0 5px 0 0;
				}
			}
		}
	}
	&.listing {
		.tabs {
			.tab-title {
				border-left: 1px solid $iron;
				border-right: 1px solid $iron;
				border-top: 1px solid $iron;
				@include tabs-shadow(0px, 0);
				&.active {
					border: none;
					a {
						background: $aqua-blue-color;
					}
				}
				a {
					background: $white-smoke;
				}
			}
		}
	}
	.panel {
		background: $colour-congressblue;
		border: none;
		padding: 10px;
		position: relative;
		z-index: 2;
		@include panel-radius(4px);
		@include panel-shadow(4px);

		&.listing {
			width:auto;
			.tabs-content {
				background: $white;
				padding: 10px;
				@include border-radius(2px);
			}
			input[type="submit"] {
				margin-bottom: 2px;
			}
			select {
				margin: 0 0 10px;
			}
			.form-wrapper {
				padding: 0;
			}
		}
		.content {
			padding: 0;
		}
	}
	.accordion {
		.accordion-navigation {
			border: none;
			border-radius: $global-radius;
			font-family: $font-family-fe-sinclair;
			margin-top: 10px;

			&:first-child {
				margin-top: 0;
				background: $white;

			}
			&.active {
				@include border-radius(2px);
				background: $white;
				> a {
					&:after {
						content: "\f077";
					}
				}
			}
			> a {
				background: $white;
				border: none;
				border-radius: $global-radius;
				color: $aqua-blue-color;
				font-family: $font-family-fe-sinclair;
				font-size: 16px;
				padding: 7px 10px 7px 11px;
				text-transform: uppercase;
				&:before {
					border:none;
				}
				&:after {
					content: "\f078";
					display: inline-block;
					font-family: fontAwesome;
					position: absolute;
					right: 10px;
				}
			}
			input[type="submit"]{
				margin: 0 0 10px;
			}

			select {
				font-family: $font-family-normal;
			}

			.content {
				margin-top: 0;
				padding: 0 10px;
				@include radius-tabs-inverted(2px);
			}
		}
	}

	.category-products{
		border-bottom: 1px solid $iron;
		margin-bottom: 50px;
	}

	.request-error {
		color: $alert-color;
		padding-bottom: 15px;
		display: none;
	}

	.relative {
		position: relative;
	}

	select{
		border-width: 0;
		color: $colour-select-active-text;
		margin: 0 0 10px;
		position: relative;

		-webkit-appearance: none !important;
		-moz-appearance: none !important;
		background-color: $colour-select-active-bg;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
		background-position: 100% center;
		background-repeat: no-repeat;

		&:disabled {
			background-color: $colour-select-disable-bg;
			color: $colour-select-disable-text;
		}

		~ .load-indicator {
			display: none;
		}

		&.loading {
			background-image: none;

			~ .load-indicator {
				position: absolute;
				display: block;
				height: 35px;
				top: 7px;
				right: 25px;
				cursor: default;
			}
		}

		&.optional {
			@extend strong;
		}

	}
	input[type="text"].input-text{
		@include border-radius(2px);
		border-bottom-right-radius: 2px;
    	border-top-right-radius: 2px;
	}
}

@media only screen and (min-width: 45.78571em) {
	.quick-finder{
     pointer-events: none;
     position: absolute;
     top: 118px;
     width: 100%;
     z-index: 9;

    &.static {
      position: relative;
      top: 0;
      pointer-events: auto;
    }

    &.relative{
      position: relative;
      top: 0;
    }
    .tabs,
    .tabs-content{
     pointer-events: all;
    }
		.panel {
			&.listing {
				.form-wrapper {
					padding: 0 10px 0 0;
					&:last-child {
						padding: 0;
					}
				}
			}
			&.home {
				width:308px;
			}
		}
	}

}

@media only screen and (min-width: 64.063em) {
  .hero {
      .quick-finder {
          .panel {
              width: 100%;
          }
      }
  }
}

// desktop
@media #{$large-up} {
	.hero .quick-finder {
 		margin-top: 0;
 	}
}

// non-desktop
@media only screen and (max-width: 1093px) {
	.hero .quick-finder {
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;

		&> div {
			margin: auto;
			max-width: 557px;
		}
	}
}


/************************************ wheel demo *****************************/

.wheel-list-header {
	overflow: hidden;

	h2 {
		font-size: 22px;
		line-height: 35px;
	}

	li {
		span, label, a {
			font-size: 14px;
			line-height: 35px;
		}
		span, label {
			@extend strong;
		}

		select {
			margin: 0;
			min-width: 80px;
		}

	}
}

.wheel-content{
	margin-bottom: 10px;
}

.wheel-list {

	height: 250px;

	.wheel-finder-slider {

		$itemSize: 150px;
		$itemWidth: 180px;
		$iconSize: 28px;

		margin: 10px 0;
		min-height: $itemSize;

		&.loading {
			text-align: center;

			&:after {
				content: '\f021'; // FontAwesome icon fa-spin
				display: inline-block;
				font-family: FontAwesome;
				font-size: $iconSize;
				margin:  ( ( $itemSize - $iconSize ) / 2 );

				-webkit-animation: 2s linear 0s normal none infinite running fa-spin;
				 -moz-animation: 2s linear 0s normal none infinite running fa-spin;
				   -o-animation: 2s linear 0s normal none infinite running fa-spin;
					  animation: 2s linear 0s normal none infinite running fa-spin;
			}
		}

		.item {
			margin-bottom: 25px;
			min-height: $itemSize;

			&.active {
				.img-holder {
					border: 4px solid $tuatara;

					img {
						margin-top: -3px;
					}
				}
			}

			.img-holder {
				border: 1px solid $iron;
				border-radius: 4px;
				cursor: pointer;
				height: $itemSize;
                margin: 0 15px;
				text-align: center;

				i {
					display: none;
				}

				img {
					height: $itemSize;
					margin: auto;
					opacity: 1;
					padding: 15px;
					transition-delay: 0.5s;
					transition: opacity 0.2s linear;
					width: $itemSize;
				}

				&:hover {
					background-color: $ghost;
				}

				&.loading {
					cursor: default;

					i {
						display: inline-block;
						height: $iconSize;
						margin:  ( ( $itemSize - $iconSize ) / 2 );
						width: $iconSize;
					}

					img {
						opacity: 0;
						transition: opacity 0.2s linear;
						transition-delay: 0.5s;
					}

					&:hover {
						background-color: $white;
					}
				}

				&.broken {
					background-color: $alert-color;
					cursor: pointer;

					i {
						display: none;
					}

					img {
						display: none;
					}

					&:hover {
						background-color: $alert-color;
					}

				}

			}

			.item-label {
				padding: 5px 15px;
                text-transform: uppercase;
                width: $itemWidth;
			}

		}
	}

}

.wheel-vehicle-demo {

	&.loading {
		display: none;
	}

	.vehicle-holder {
		$holderHeight: 370px;
		$iconSize: 32px;

		margin-top: 30px;
		min-height: $holderHeight;
		min-width: 780px;
		position: relative;

		&.loading {

			text-align: center;

			&:after {
				content: '\f021'; // Font Awesome icons fa-spin
				display: inline-block;
				font-family: FontAwesome;
				font-size: $iconSize;
				margin-top: ( ( $holderHeight - $iconSize ) / 2 );

				-webkit-animation: 2s linear 0s normal none infinite running fa-spin;
				 -moz-animation: 2s linear 0s normal none infinite running fa-spin;
				   -o-animation: 2s linear 0s normal none infinite running fa-spin;
					  animation: 2s linear 0s normal none infinite running fa-spin;
			}

			img {
				display: none;
			}
		}

		h2 {
			@extend strong;

			font-size: 32px;
			left: 15px;
			position: absolute;
			top: -22px;
		}
		h3 {
			font-family: $code-font-family;
			font-size: 14px;
			left: 15px;
			position: absolute;
			top: 0;
		}

		img {
			position: absolute;
			z-index: 2;
		}

		.vehicle-img-main {
			left: 0;
			opacity: 0;
			top: 0;
			transition: all 0.2s linear;
			z-index: 1;

			&.active {
				opacity: 1;
				z-index: 0;
			}
		}

		.vehicle-img-wheel {
			// wheel spin (not in use)
			//animation: 6s linear 0s normal none infinite running fa-spin;
		}

	}

		.vehicle-tools {
			min-height: 60px;

            .vehicle-susension-wrapper{
                float: right;

                button{
                    margin: 13px 0 0 0;
                }
            }
			span{
                display: inline-block;
				padding-top: 20px;
                vertical-align: top;
            }
			.colour-switch {
                display: inline-block;
				list-style-type: none;
				margin: 20px 0 0 0;
				padding: 0;

				li {
					border: 2px solid $white;
					cursor: pointer;
					display: block;
					float: left;
					height: 20px;
                    margin: 0 3px;
                    outline: 1px solid $iron;
					width: 30px;

                    @include transition(all, 0.15s, ease-in-out);
                    &:hover,
                    &:active,
                    &:focus,
                    &.active{
                        height: 30px;
                    }
				}
			}

		}
}

.wheel-active {

	.product-item {
		margin-left: 10px;
		margin-right: 5px;
		max-width: 400px;
		min-height: 150px;

		.info {
			display: block;

			.product-badge {
				display: block;
				margin: 0 0 10px 0;
			}

			.dealer-logo {
				max-width: 140px;
			}

			.select-wheel-size {
				list-style-type: none;
				margin: 0 0 20px 0;
				padding: 0;

				li {
					color: $monsoon;
					cursor: pointer;
					line-height: 15px;
					padding: 4px 0;
					text-decoration: underline;

					&:hover {
						color: $tuatara;
					}

					&.selected {
						color: $oil;
						cursor: default;
						font-weight: bold;

						&:hover {
							color: $oil;
						}
					}
				}
			}

		}

		.loader, .placeholder {
			display: none;
		}


	}

	// on loading
	&.loading {
		.product-item {
			.info, .placeholder {
				display: none;
			}
			.loader {
				display: block;
				padding: 50px 15px 50px 35px;
				text-align: center;
			}
		}
	}

	// on no data
	&.no-data {
		.product-item {
			.info, .loader {
				display: none;
			}
			.placeholder {
				@extend strong;

				display: block;
				padding: 50px 15px 50px 35px;
				text-align: center;
			}
		}
	}
}

/* slick */
.wheel-list .slick-slider {
    overflow: visible;

	button {
		background-color: $accordion-sub-top;
        height: 150px;
        top: 10px;
        width: 30px;

        &.slick-prev{
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
			left: 0;
        }
        &.slick-next{
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
			right: 0;
        }
        &:hover{
            background-color: $accordion-sub-bottom;
        }
	}
}


.wheels-notice {
	border: 1px solid $iron;
	padding: 80px 50px;
	text-align: center;
}
