// Customer Reviews Component

.review-component{

  h5{
    color: #4C4C4C;
    font-size: 14px;
    font-family: "Swiss721BT-Bold",Helvetica,Arial,sans-serif;
  }

  .review-item{
    .star-rating{
      margin: 5px 0 0;
    }
  }
}
