<?xml version="1.0"?>
<!-- 
/**
* @category   Wyomind
* @package    Wyomind_Googleproductratings
* @license    http://wyomind.com
*/
--> 
<config>
    <modules>
        <Wyomind_Googleproductratings>
            <version>1.1.3</version> 
        </Wyomind_Googleproductratings> 
    </modules> 
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>wyomind</default>
                </theme> 
            </design>
        </admin>
    </stores>
    
    <default>
        <googleproductratings>
              <license>
                <label>Google Product Ratings</label>
                <version>1.1.3</version>
                <extension_code>gpr</extension_code>
                <hash>f174a663dff9e5b83a5b25b371916443</hash>
            </license>
            <settings>
                <publisher_name>Publisher Name</publisher_name>
                <collection_method>unsollicited</collection_method>
                    
            </settings>
            <options>
                <use_minimal_configuration>1</use_minimal_configuration>
                <product_gtin></product_gtin>
                <product_mpn></product_mpn>
                <product_sku>sku</product_sku>
                <product_brand>brand</product_brand>
                
                
            </options>
            <storage>
                <file_path>/media</file_path>
                <file_name>GoogleRatings</file_name>
            </storage>
            <schedule>
                <schedule_report>0</schedule_report>
                <report_title>Google Product Ratings - report </report_title>
            </schedule>
        </googleproductratings>
    </default>
    <frontend>
        <routers>
            <review>
                <args>
                    <modules>
                        <Wyomind_Googleproductratings before="Mage_Review">Wyomind_Googleproductratings</Wyomind_Googleproductratings>
                    </modules>
                </args>
            </review>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wyomind_Googleproductratings after="Mage_Adminhtml">Wyomind_Googleproductratings_Adminhtml</Wyomind_Googleproductratings>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
      
        <acl>
            <resources>
                <admin>
                    <children>
                      
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <googleproductratings>
                                            <title>Google Product Ratings</title>
                                        </googleproductratings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		
		
		
        <translate>
            <modules>
                <Wyomind_Googleproductratings>
                    <files>
                        <default>Wyomind_Googleproductratings.csv</default>
                    </files>
                </Wyomind_Googleproductratings>
            </modules>
        </translate>
        
    </adminhtml>   
    <global>
        <models>
            <googleproductratings>
                <class>Wyomind_Googleproductratings_Model</class>
            </googleproductratings>
            
        </models>
        
        <blocks>
            <googleproductratings>
                <class>Wyomind_Googleproductratings_Block</class>
            </googleproductratings>
        </blocks>
        <helpers>
            <googleproductratings>
                <class>Wyomind_Googleproductratings_Helper</class>
            </googleproductratings>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <googleproductratings_generate>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run> 
                    <model>googleproductratings/observer::generateFeeds</model>
                </run>
            </googleproductratings_generate>
        </jobs>
    </crontab>
</config>