<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="singleColumn">
                  <tbody>
                    <tr>
                      <td align="left" style="font-family: Arial, Verdana, sans-serif; font-size: 17px; line-height:24px; font-weight:bold; color: #0167b1; padding-top: 15px; padding-bottom:5px; text-align: left;">{{htmlescape var=$user.name}},</td>
                    </tr>
                    <tr>
                      <td align="left" style="font-family: Arial, Verdana, sans-serif; font-size: 13px; line-height:20px; color: #666666; text-align: left; padding-top:0px; padding-bottom:0px;"><strong>Your new password is:</strong> {{htmlescape var=$password}}<br>
<br>
You can change your password at any time by logging into <a href="{{store url="adminhtml/system_account/"}}" style="color:#0167b1; text-decoration:none;">your account</a>.
                            
 <table border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr> <td height="15" style="height:15px; font-size:15px; line-height:15px;"><p style="font-size:15px; line-height:15px; margin:0px; padding:0px;"> </p></td>
                                                    </tr>
                                                    <tr> <td valign="top" align="left" bgcolor="#f28c1d" style="text-align:left; padding-left:20px; padding-right:20px; padding-top:10px; padding-bottom:10px; color:#ffffff; font-weight:bold; font-size:14px; line-height:18px; " class="button-bft"><a href="{{store url="adminhtml/system_account/"}}" style=" color:#ffffff; font-weight:bold; font-size:14px; line-height:18px; text-decoration:none;" target="_blank" name="Button Website">Login to your account</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                        <span><br />
                        {{depend store_phone}}
						<b>Call Us:</b> <a style="color:#0167b1; text-decoration:none;" href="tel:{{var phone}}">{{var store_phone}}</a>
						{{/depend}}</span><br>
                                <span>{{depend store_hours}}
						<span class="no-link">{{var store_hours}}</span>
						{{/depend}}</span><br>
				<span>{{depend store_email}}
						<b>Email:</b> <a style="color:#0167b1; text-decoration:none;" href="mailto:{{var store_email}}">{{var store_email}}</a>
						{{/depend}}
				</span></td>
                    </tr>
                  </tbody>
                </table>

{{template config_path="design/email/footer"}}

