<!--@subject Sitemap generate Warnings @-->
<!--@vars
{"var warnings":"Sitemap Generate Warnings"}
@-->

{{template config_path="design/email/header"}}

Sitemap generate warnings:
{{var warnings}}

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="singleColumn">
                  <tbody>
                    <tr>
                      <td align="left" style="font-family: Arial, Verdana, sans-serif; font-size: 17px; line-height:24px; font-weight:bold; color: #0167b1; padding-top: 15px; padding-bottom:5px; text-align: left;">Sitemap generate warnings</td>
                    </tr>
                    <tr>
                      <td align="left" style="font-family: Arial, Verdana, sans-serif; font-size: 13px; line-height:20px; color: #666666; text-align: left; padding-top:0px; padding-bottom:0px;">
                     {{var warnings}}

                        <span><br /><br>
                        {{depend store_phone}}
						<b>Call Us:</b> <a style="color:#0167b1; text-decoration:none;" href="tel:{{var phone}}">{{var store_phone}}</a>
						{{/depend}}</span><br>
                                <span>{{depend store_hours}}
						<span class="no-link">{{var store_hours}}</span>
						{{/depend}}</span><br>
				<span>{{depend store_email}}
						<b>Email:</b> <a style="color:#0167b1; text-decoration:none;" href="mailto:{{var store_email}}">{{var store_email}}</a>
						{{/depend}}
				</span></td>
                    </tr>
                  </tbody>
                </table>

{{template config_path="design/email/footer"}}