<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_Syncer>
            <version>0.1</version>
        </ApdInteract_Syncer>
    </modules>
    <global>
       <models>
          <wisepricer_syncer2>
              <rewrite>
                  <importer>ApdInteract_Syncer_Model_Importer</importer>
              </rewrite>
          </wisepricer_syncer2>
       </models>
    </global>
</config>