<?xml version="1.0"?>
<!--
/**
 * Overcoming Magento's Full Page Cache
 * http://www.pixafy.com/blog
 *
 * @category    Pixafy
 * @package     ApdInteract_Addblock
 * @copyright   Copyright (c) 2013 Pixafy (http://www.pixafy.com)
 * @author      Thomas Lackemann
 */
-->
<config>
    <modules>
        <ApdInteract_Addblock>
            <version>0.5.0</version>
        </ApdInteract_Addblock>
    </modules>
    <frontend>
        <layout>
            <updates>
                <addblock>
                    <file>addblock.xml</file>
                </addblock>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <addblock>
                <class>ApdInteract_Addblock_Model</class>
            </addblock>
        </models>
        <blocks>
            <addblock>
                <class>ApdInteract_Addblock_Block</class>
            </addblock>
        </blocks>
        <helpers>
            <addblock>
                <class>ApdInteract_Addblock_Helper</class>
            </addblock>
        </helpers>
        <resources>
            <apdinteract_addblock_setup>
                <setup>
                    <module>ApdInteract_Addblock</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_addblock_setup>
        </resources>
    </global>
</config>