<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ApdInteract_Rel>
            <version>0.2.0</version>
        </ApdInteract_Rel>
    </modules>
    <global>
    	<helpers>
            <apdinteract_rel>
                <class>ApdInteract_Rel_Helper</class>
            </apdinteract_rel>
        </helpers>
        <models>
            <apdinteract_rel>
                <class>ApdInteract_Rel_Model</class>
                <resourceModel>apdinteract_rel_resource</resourceModel>
            </apdinteract_rel>
            <apdinteract_rel_resource>
                <class>ApdInteract_Rel_Model_Resource</class>
                <entities>
                    <canonical>
                        <table>apdinteract_canonical_url</table>
                    </canonical>
                </entities>
            </apdinteract_rel_resource>
        </models>
        <resources>
            <apdinteract_rel_setup>
                <setup>
                    <module>ApdInteract_Rel</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_rel_setup>
        </resources>
		<resources>
            <apdinteract_rel_setup>
                <setup>
                    <module>ApdInteract_Rel</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_rel_setup>
   		</resources>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <apdinteract_rel_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>ApdInteract_Rel_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </apdinteract_rel_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
</config>