<?xml version="1.0"?>
<!--
/**
 * ApdInteract
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.

 * @category    ApdInteract Mod
 * @package     ApdInteract_Smartcache
 * @author      ApdInteract Core Team
 * @copyright   Copyright (c) 2014 ApdInteract (http://www.apdinteract.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */-->
<config>
    <modules>
        <ApdInteract_Smartcache>
            <version>0.1.0</version>
        </ApdInteract_Smartcache>
    </modules>
    <global>
        <blocks>
            <apdinteract_smartcache>
                <class>ApdInteract_Smartcache_Block</class>
            </apdinteract_smartcache>
            <page>
                <rewrite>
                    <html_head>ApdInteract_Smartcache_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <apdinteract_smartcache>
                <class>ApdInteract_Smartcache_Helper</class>
            </apdinteract_smartcache>
        </helpers>
    </global>
    <default>
        <apdinteract_smartcache>
            <general>
                <enabled>1</enabled>
            </general>
        </apdinteract_smartcache>
    </default>
</config>