<?xml version="1.0"?>
<config>
    <modules>
        <ApdInteract_Dynamicblock>
            <version>0.1.5</version>
        </ApdInteract_Dynamicblock>
    </modules>
    <frontend>
        <layout>
            <updates>
                <dynamicblock>
                    <file>dynamicblock.xml</file>
                </dynamicblock>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <dynamicblock>
                <class>ApdInteract_Dynamicblock_Helper</class>
            </dynamicblock>
        </helpers>
        <models>
            <dynamicblock>
                <class>ApdInteract_Dynamicblock_Model</class>
            </dynamicblock>
        </models>
        <blocks>
            <dynamicblock>
                <class>ApdInteract_Dynamicblock_Block</class>
            </dynamicblock>
        </blocks>
        <resources>
            <apdinteract_dynamicblock_setup>
                <setup>
                    <module>ApdInteract_Dynamicblock</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apdinteract_dynamicblock_setup>
        </resources>
    </global>
</config> 