<div class="hero">
  <h2>
    Inflated tyres.<br>
    Deflated prices...
  </h2>

  <h3 class="price-1">
    <span class="line">on selected</span>
    <span class="line">passenger car</span>
    <span class="line">tyres from</span>
    <span class="price-line">
      <span class="dollar">$</span><span class="number">89<span><small>*</small>
    </span>
  </h3>

  <h3 class="price-2">
    <span class="line">on selected</span>
    <span class="line">SUV/4X4</span>
    <span class="line">tyres from</span>
    <span class="price-line">
      <span class="dollar">$</span><span class="number">139</span><small>*</small>
    </span>
  </h3>

  <img src="../assets/images/hero_405.png" class="desktop" alt="">

  <small>* Offer ends 12 August 2017.  Terms &amp; conditions apply.</small>

  <a class="button store-locator-btn desktop" data-nearest-store-btn>Locate Nearest Store</a>
</div>
