<section class="testimonials">
    <div class="row">
        <div class="columns">
            <h2>Here's What Our Customers Say About Beaurepaires...</h2>

            <div class="slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
                <div class="slide">
                  <article>
                      <p><span class="icon icon-left-quote"></span>I always buy my tyres here. They give good advice and are always willing to give a hand, at least my local beaurepaires at gordon. I will always go there to buy my tyres and have them fitted. It's the only thing I can't do on my car by myself.<span class="icon icon-right-quote"></span></p>
                      <h4>- Vince Black, Gordon, Sydney</h4>
                  </article>
                </div>
                <div class="slide">
                  <article>
                      <p><span class="icon icon-left-quote"></span>I was due for a tyre rotation &amp; wheel alignment when our car was held over at the dealership for warranty repairs. At short notice, I had to cancel my booking & arrange to reschedule on a future date. Again with short notice, not long before closing on a Friday, I was able to get the work done without any drama. <span class="icon icon-right-quote"></span></p>
                      <h4>- Rod H, Junee</h4>
                  </article>
                </div>
                <div class="slide">
                  <article>
                      <p><span class="icon icon-left-quote"></span>Took a wheel in to get a puncture fixed in Midland Perth. Not only did they fix it straight away they wouldn't take any money for it. That hasn't happened to me in years. Great job guys. You will definitely get my future business. <span class="icon icon-right-quote"></span></p>
                      <h4>- Coops, Perth</h4>
                  </article>
                </div>
            </div>

            <a href="#" class="terms">Terms and Conditions</a>
        </div>
    </div>
</section>
