<section class="who-cares we-care">
    <div class="row">
        <div class="columns medium-5">
            <p>
              <img src="../assets/images/goodyear.svg" class="logo" alt="Goodyear">
            </p>

            <p>
              <img src="../assets/images/dunlop.svg" class="logo" alt="Dunlop">
            </p>
        </div>
        <div class="columns medium-7 text-left">
          <h2>Who cares? Beaurepaires</h2>
          <h3>We care about:</h3>
          <ul>
              <li><img src="../assets/images/wheel-icon.png" aria-hidden="true"> Your tyres</li>
              <li><img src="../assets/images/wheel-icon.png" aria-hidden="true"> Your convenience &amp; time</li>
              <li><img src="../assets/images/wheel-icon.png" aria-hidden="true"> Your hip pocket</li>
              <li><img src="../assets/images/wheel-icon.png" aria-hidden="true"> Our environment</li>
          </ul>
        </div>
    </div>
</section>
